<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="indi.uhyils.dao.GoodDao">


    <sql id="columnList">
        id,
        name,
        num,
        type_id as typeId,
        shop_id as shopId,
        price,
        is_discount as isDiscount,
        discount_per as discountPer,
        user_id as userId,
        create_date as 'createDate',
        create_user as createUser,
        update_date as 'updateDate',
        update_user as updateUser,
        is_delete as isDelete,
        remark
    </sql>

    <select id="getByArgs" resultType="indi.uhyils.pojo.model.GoodEntity">
        select
        <include refid="columnList"/>
        from good
        where is_delete = 0

        <foreach item="item" index="index" collection="args">
            and ${item.name} ${item.symbol} #{item.data}
        </foreach>
        <if test="page != null and page != ''">
            limit ${(page-1) * size},${page * size}
        </if>
    </select>


    <select id="getByArgsNoPage" resultType="indi.uhyils.pojo.model.GoodEntity">
        select
        <include refid="columnList"/>
        from good
        where is_delete = 0
        <foreach item="item" index="index" collection="list">
            and ${item.name} ${item.symbol} #{item.data}
        </foreach>
    </select>


    <select id="getById" resultType="indi.uhyils.pojo.model.GoodEntity">
        select
        <include refid="columnList"/>
        from good
        where is_delete = 0
        and id = #{id}
    </select>

    <select id="delete" parameterType="java.lang.Integer">
        update good
        set is_delete = 1
        where id = #{id}
    </select>
    <select id="count" resultType="java.lang.Integer">
        select count(*)
        from good
        where is_delete = 0;
    </select>


    <insert id="insert" parameterType="indi.uhyils.pojo.model.GoodEntity">
        insert good(id, name, num, type_id, shop_id, price, is_discount, discount_per, user_id, create_date,
                    create_user, update_date, update_user,
                    is_delete, remark)
        values (#{id}, #{name},#{num},#{typeId},#{shopId},#{price},#{isDiscount},#{discountPer},#{userId}, #{createDate}, #{createUser}, #{updateDate},
                #{updateUser}, 0, #{remark})
    </insert>
    <update id="update" parameterType="indi.uhyils.pojo.model.GoodEntity">
        update good set
        update_date = #{updateDate}
        ,update_user = #{updateUser}
        <if test="name != null and name != ''">
            ,name = #{name}
        </if>
        <if test="num != null and num != ''">
            ,num = #{num}
        </if>
        <if test="typeId != null and typeId != ''">
            ,type_id = #{typeId}
        </if>
        <if test="shopId != null and shopId != ''">
            ,shop_id = #{shopId}
        </if>
        <if test="price != null and price != ''">
            ,price = #{price}
        </if>
        <if test="isDiscount != null and isDiscount != ''">
            ,is_discount = #{isDiscount}
        </if>
        <if test="discountPer != null and discountPer != ''">
            ,discount_per = #{discountPer}
        </if>
        <if test="userId != null and userId != ''">
            ,user_id = #{userId}
        </if>
        <if test="remark != null and remark != ''">
            ,remark = #{remark}
        </if>
        where id = #{id}
    </update>

</mapper>
