<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="indi.uhyils.dao.OrderDao">


    <sql id="columnList">
        id,
        status,
        good_name as goodName,
        push_user_id as pushUserId,
        push_user_name as pushUserName,
        push_shop_id as pushShopId,
        push_shop_name as pushShopName,
        create_date as 'createDate',
        create_user as createUser,
        update_date as 'updateDate',
        update_user as updateUser,
        is_delete as isDelete,
        remark
    </sql>

    <select id="getByArgs" resultType="indi.uhyils.model.OrderEntity">
        select
        <include refid="columnList"/>
        from order
        where is_delete = 0

        <foreach item="item" index="index" collection="args">
            and ${item.name} ${item.symbol} #{item.data}
        </foreach>
        <if test="page != null and page != ''">
            limit ${(page-1) * size},${page * size}
        </if>
    </select>

    <select id="getByArgsNoPage" resultType="indi.uhyils.model.OrderEntity">
        select
        <include refid="columnList"/>
        from order
        where is_delete = 0
        <foreach item="item" index="index" collection="list">
            and ${item.name} ${item.symbol} #{item.data}
        </foreach>
    </select>

    <select id="getById" resultType="indi.uhyils.model.OrderEntity">
        select
        <include refid="columnList"/>
        from order
        where is_delete = 0
        and id = #{id}
    </select>

    <select id="delete" parameterType="java.lang.Integer">
        update order
        set is_delete = 1
        where id = #{id}
    </select>
    <select id="count" resultType="java.lang.Integer">
        select count(*)
        from order
        where is_delete = 0;
    </select>

    <insert id="insert" parameterType="indi.uhyils.model.OrderEntity">
        insert order(id, status, good_name, push_user_id, push_user_name, push_shop_id, push_shop_name, create_date,
                     create_user,
                     update_date, update_user,
                     is_delete, remark)
        values (#{id}, #{status}, #{goodName}, #{pushUserId}, #{pushUserName}, #{pushShopId}, #{pushShopName},
                #{createDate}, #{createUser}, #{updateDate},
                #{updateUser}, 0, #{remark})
    </insert>
    <update id="update" parameterType="indi.uhyils.model.OrderEntity">
        update order set
        update_date = #{updateDate}
        ,update_user = #{updateUser}

        <if test="status != null and status != ''">
            ,status = #{status}
        </if>
        <if test="goodName != null and goodName != ''">
            ,good_name = #{goodName}
        </if>
        <if test="pushUserId != null and pushUserId != ''">
            ,push_user_id = #{pushUserId}
        </if>
        <if test="pushUserName != null and pushUserName != ''">
            ,push_user_name = #{pushUserName}
        </if>
        <if test="pushShopId != null and pushShopId != ''">
            ,push_shop_id = #{pushShopId}
        </if>
        <if test="pushShopName != null and pushShopName != ''">
            ,push_shop_name = #{pushShopName}
        </if>
        <if test="remark != null and remark != ''">
            ,remark = #{remark}
        </if>
        where id = #{id}
    </update>

</mapper>