database/
!.mvn/wrapper/maven-wrapper.jar
*.log
**/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.DS_Store

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

### db2 ###
h2db.trace.db
/my-service/my-web/src/main/resources/static/layuimini/
my-api/my-api-provider-transaction/target/
my-api/my-api-provider-user/target/
my-common/target/
my-dubbo-admin/target/
my-service/my-service-transaction/target/
my-service/my-service-user/target/
my-service/my-web/target/
