<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="indi.uhyils.dao.ContentDao">
    <resultMap type="indi.uhyils.pojo.DO.ContentDO" id="ContentMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="createDate" column="create_date" jdbcType="INTEGER"/>
        <result property="createUser" column="create_user" jdbcType="INTEGER"/>
        <result property="deleteFlag" column="delete_flag" jdbcType="BOOLEAN"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
        <result property="updateDate" column="update_date" jdbcType="INTEGER"/>
        <result property="updateUser" column="update_user" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="title1" column="title1" jdbcType="VARCHAR"/>
        <result property="title2" column="title2" jdbcType="VARCHAR"/>
        <result property="title3" column="title3" jdbcType="VARCHAR"/>
        <result property="title4" column="title4" jdbcType="VARCHAR"/>
        <result property="title5" column="title5" jdbcType="VARCHAR"/>
        <result property="title6" column="title6" jdbcType="VARCHAR"/>
        <result property="var1" column="var1" jdbcType="VARCHAR"/>
        <result property="var2" column="var2" jdbcType="VARCHAR"/>
        <result property="var3" column="var3" jdbcType="VARCHAR"/>
        <result property="var4" column="var4" jdbcType="VARCHAR"/>
        <result property="var5" column="var5" jdbcType="VARCHAR"/>
        <result property="var6" column="var6" jdbcType="VARCHAR"/>
    </resultMap>

    <!--查询单个-->
    <select id="getById" resultMap="ContentMap">
        select id,
               create_date,
               create_user,
               delete_flag,
               remark,
               update_date,
               update_user,
               name,
               title1,
               title2,
               title3,
               title4,
               title5,
               title6,
               var1,
               var2,
               var3,
               var4,
               var5,
               var6
        from sys_content
        where delete_flag = 0
          and id = #{id}
    </select>
    <!--查询多个-->
    <select id="getByIds" resultMap="ContentMap">
        select id,
               create_date,
               create_user,
               delete_flag,
               remark,
               update_date,
               update_user,
               name,
               title1,
               title2,
               title3,
               title4,
               title5,
               title6,
               var1,
               var2,
               var3,
               var4,
               var5,
               var6
        from sys_content
        where delete_flag = 0
          and id in
        <foreach collection="ids" item="item" index="index" separator="," open="(" close=")">
            #{item}
        </foreach>
    </select>


    <!--根据某些字段获取实例(不分页)-->
    <select id="getByArgsNoPage" resultMap="ContentMap">
        select id,
               create_date,
               create_user,
               delete_flag,
               remark,
               update_date,
               update_user,
               name,
               title1,
               title2,
               title3,
               title4,
               title5,
               title6,
               var1,
               var2,
               var3,
               var4,
               var5,
               var6
        from sys_content
            where delete_flag = 0
        <if test="args != null">
            <foreach item="item" index="index" collection="args">
                and ${item.name} ${item.symbol} #{item.data}
            </foreach>
        </if>
        <if test="order != null">
            order by
            <foreach collection="order.columns" item="item" index="index" separator=",">
                ${item.columnName.name} ${item.symbol.name}
            </foreach>
        </if>
    </select>

    <!--根据某些字段获取实例(分页)-->
    <select id="getByArgs" resultMap="ContentMap">
        select id,
               create_date,
               create_user,
               delete_flag,
               remark,
               update_date,
               update_user,
               name,
               title1,
               title2,
               title3,
               title4,
               title5,
               title6,
               var1,
               var2,
               var3,
               var4,
               var5,
               var6
        from sys_content
            where delete_flag = 0
        <if test="args != null">
            <foreach item="item" index="index" collection="args">
                and ${item.name} ${item.symbol} #{item.data}
            </foreach>
        </if>

        <if test="order != null">
            order by
            <foreach collection="order.columns" item="item" index="index" separator=",">
                ${item.columnName.name} ${item.symbol.name}
            </foreach>
        </if>

        <if test="limit.number != null and limit.number != ''">
            limit ${(limit.number-1) * limit.size},${ limit.number * limit.size}
        </if>
    </select>


    <!--新增所有列-->
    <insert id="insert" parameterType="indi.uhyils.pojo.DO.ContentDO">
        insert into sys_content(id, create_date, create_user, delete_flag, remark, update_date, update_user, name,
                                title1, title2, title3,
                                title4, title5, title6, var1, var2, var3, var4, var5, var6)
        values (#{id}, #{createDate}, #{createUser}, #{deleteFlag}, #{remark}, #{updateDate}, #{updateUser}, #{name},
                #{title1}, #{title2}, #{title3}, #{title4}, #{title5}, #{title6}, #{var1}, #{var2}, #{var3}, #{var4},
                #{var5},
                #{var6})
    </insert>

    <!--通过主键修改数据-->
    <update id="update" parameterType="indi.uhyils.pojo.DO.ContentDO">
        update sys_content set update_date = #{updateDate}
                             , update_user = #{updateUser}
        <if test="createDate != null">
            , create_date = #{createDate}
        </if>
        <if test="createUser != null">
            , create_user = #{createUser}
        </if>
        <if test="deleteFlag != null">
            , delete_flag = #{deleteFlag}
        </if>
        <if test="remark != null and remark != ''">
            , remark = #{remark}
        </if>
        <if test="updateDate != null">
            , update_date = #{updateDate}
        </if>
        <if test="updateUser != null">
            , update_user = #{updateUser}
        </if>
        <if test="name != null and name != ''">
            , name = #{name}
        </if>
        <if test="title1 != null and title1 != ''">
            , title1 = #{title1}
        </if>
        <if test="title2 != null and title2 != ''">
            , title2 = #{title2}
        </if>
        <if test="title3 != null and title3 != ''">
            , title3 = #{title3}
        </if>
        <if test="title4 != null and title4 != ''">
            , title4 = #{title4}
        </if>
        <if test="title5 != null and title5 != ''">
            , title5 = #{title5}
        </if>
        <if test="title6 != null and title6 != ''">
            , title6 = #{title6}
        </if>
        <if test="var1 != null and var1 != ''">
            , var1 = #{var1}
        </if>
        <if test="var2 != null and var2 != ''">
            , var2 = #{var2}
        </if>
        <if test="var3 != null and var3 != ''">
            , var3 = #{var3}
        </if>
        <if test="var4 != null and var4 != ''">
            , var4 = #{var4}
        </if>
        <if test="var5 != null and var5 != ''">
            , var5 = #{var5}
        </if>
        <if test="var6 != null and var6 != ''">
            , var6 = #{var6}
        </if>
        where id = #{id}
    </update>

    <!--通过主键修改数据-->
    <update id="updateByOrder" parameterType="indi.uhyils.pojo.DO.ContentDO">
        update sys_content set update_date = #{data.updateDate}
                             , update_user = #{data.updateUser}
        <if test="data.createDate != null">
            , create_date = #{data.createDate}
        </if>
        <if test="data.createUser != null">
            , create_user = #{data.createUser}
        </if>
        <if test="data.deleteFlag != null">
            , delete_flag = #{data.deleteFlag}
        </if>
        <if test="data.remark != null and data.remark != ''">
            , remark = #{data.remark}
        </if>
        <if test="data.updateDate != null">
            , update_date = #{data.updateDate}
        </if>
        <if test="data.updateUser != null">
            , update_user = #{data.updateUser}
        </if>
        <if test="data.name != null and data.name != ''">
            , name = #{data.name}
        </if>
        <if test="data.title1 != null and data.title1 != ''">
            , title1 = #{data.title1}
        </if>
        <if test="data.title2 != null and data.title2 != ''">
            , title2 = #{data.title2}
        </if>
        <if test="data.title3 != null and data.title3 != ''">
            , title3 = #{data.title3}
        </if>
        <if test="data.title4 != null and data.title4 != ''">
            , title4 = #{data.title4}
        </if>
        <if test="data.title5 != null and data.title5 != ''">
            , title5 = #{data.title5}
        </if>
        <if test="data.title6 != null and data.title6 != ''">
            , title6 = #{data.title6}
        </if>
        <if test="data.var1 != null and data.var1 != ''">
            , var1 = #{data.var1}
        </if>
        <if test="data.var2 != null and data.var2 != ''">
            , var2 = #{data.var2}
        </if>
        <if test="data.var3 != null and data.var3 != ''">
            , var3 = #{data.var3}
        </if>
        <if test="data.var4 != null and data.var4 != ''">
            , var4 = #{data.var4}
        </if>
        <if test="data.var5 != null and data.var5 != ''">
            , var5 = #{data.var5}
        </if>
        <if test="data.var6 != null and data.var6 != ''">
            , var6 = #{data.var6}
        </if>
        where delete_flag = 0
        <if test="args != null">
            <foreach item="item" index="index" collection="args">
                and ${item.name} ${item.symbol} #{item.data}
            </foreach>
        </if>
    </update>

    <!--批量通过主键修改数据-->
    <update id="updateBatch" parameterType="indi.uhyils.pojo.DO.ContentDO">
        <foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";">
            update sys_content set
            update_date = #{item.updateDate}
                ,update_user = #{item.updateUser}
            <if test="item.createDate != null">
                ,create_date = #{item.createDate}
            </if>
            <if test="item.createUser != null">
                ,create_user = #{item.createUser}
            </if>
            <if test="item.deleteFlag != null">
                ,delete_flag = #{item.deleteFlag}
            </if>
            <if test="item.remark != null and item.remark != ''">
                ,remark = #{item.remark}
            </if>
            <if test="item.updateDate != null">
                ,update_date = #{item.updateDate}
            </if>
            <if test="item.updateUser != null">
                ,update_user = #{item.updateUser}
            </if>
            <if test="item.name != null and item.name != ''">
                , name = #{item.name}
            </if>
            <if test="item.title1 != null and item.title1 != ''">
                ,title1 = #{item.title1}
            </if>
            <if test="item.title2 != null and item.title2 != ''">
                ,title2 = #{item.title2}
            </if>
            <if test="item.title3 != null and item.title3 != ''">
                ,title3 = #{item.title3}
            </if>
            <if test="item.title4 != null and item.title4 != ''">
                ,title4 = #{item.title4}
            </if>
            <if test="item.title5 != null and item.title5 != ''">
                ,title5 = #{item.title5}
            </if>
            <if test="item.title6 != null and item.title6 != ''">
                ,title6 = #{item.title6}
            </if>
            <if test="item.var1 != null and item.var1 != ''">
                ,var1 = #{item.var1}
            </if>
            <if test="item.var2 != null and item.var2 != ''">
                ,var2 = #{item.var2}
            </if>
            <if test="item.var3 != null and item.var3 != ''">
                ,var3 = #{item.var3}
            </if>
            <if test="item.var4 != null and item.var4 != ''">
                ,var4 = #{item.var4}
            </if>
            <if test="item.var5 != null and item.var5 != ''">
                ,var5 = #{item.var5}
            </if>
            <if test="item.var6 != null and item.var6 != ''">
                ,var6 = #{item.var6}
            </if>
            where id = #{item.id}
        </foreach>
    </update>

    <!--查询总条数-->
    <select id="count" resultType="java.lang.Integer">
        select count(*)
        from sys_content
        where delete_flag = 0;
    </select>

    <!--根据条件查询条数-->
    <select id="countByArgs" resultType="java.lang.Integer">
        select count(*)
        from sys_content
            where delete_flag = 0
        <if test="args != null">
            <foreach item="item" index="index" collection="args">
                and ${item.name} ${item.symbol} #{item.data}
            </foreach>
        </if>
    </select>

    <!--检查是否有重复-->
    <select id="checkRepeat" resultType="java.lang.Integer">
        select count(*)
        from sys_content
        where ${columnName} = #{value}
    </select>

    <select id="getByName" resultMap="ContentMap">
        select
        id,
        create_date,
        create_user,
        delete_flag,
        remark,
        update_date,
        update_user,
        name,
        title1,
        title2,
        title3,
        title4,
        title5,
        title6,
        var1,
        var2,
        var3,
        var4,
        var5,
        var6
        from sys_content a
        where delete_flag = 0
        and name = #{name}
    </select>
</mapper>
