<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="indi.uhyils.dao.ContentDao">


    <sql id="columnList">
        a
        .
        id
        ,
        a.create_date as 'createDate',
        a.create_user as createUser,
        a.update_date as 'updateDate',
        a.update_user as updateUser,
        a.delete_flag as deleteFlag,
        a.remark,

        a.name,
        a.title1,
        a.title2,
        a.title3,
        a.title4,
        a.title5,
        a.title6,
        a.var1,
        a.var2,
        a.var3,
        a.var4,
        a.var5,
        a.var6
    </sql>

    <select id="getById" resultType="indi.uhyils.pojo.model.ContentEntity">
        select
        <include refid="columnList"/>
        from sys_content a
        where delete_flag = 0
        and id = #{id}
    </select>

    <select id="getByArgsNoPage" resultType="indi.uhyils.pojo.model.ContentEntity">
        select
        <include refid="columnList"/>
        from sys_content a
        where delete_flag = 0
        <foreach item="item" index="index" collection="list">
            and ${item.name} ${item.symbol} #{item.data}
        </foreach>
    </select>

    <select id="getByArgs" resultType="indi.uhyils.pojo.model.ContentEntity">
        select
        <include refid="columnList"/>
        from sys_content a
        where delete_flag = 0

        <foreach item="item" index="index" collection="args">
            and ${item.name} ${item.symbol} #{item.data}
        </foreach>
        <if test="page != null and page != ''">
            limit ${(page-1) * size},${size}
        </if>
    </select>


    <insert id="insert" parameterType="indi.uhyils.pojo.model.ContentEntity">
        insert
        sys_content(id,
                           create_date,
                           create_user,
                           update_date,
                           update_user,
                           delete_flag,
                           name,
                           title1,
                           title2,
                           title3,
                           title4,
                           title5,
                           title6,
                           var1,
                           var2,
                           var3,
                           var4,
                           var5,
                           var6)
        values (
        #{id},
        #{createDate},
        #{createUser},
        #{updateDate},
        #{updateUser},
        0,
        #{name},
        #{title1},
        #{title2},
        #{title3},
        #{title4},
        #{title5},
        #{title6},
        #{var1},
        #{var2},
        #{var3},
        #{var4},
        #{var5},
        #{var6}
        )
    </insert>

    <update id="update" parameterType="indi.uhyils.pojo.model.ContentEntity">
        update sys_content set
        update_date = #{updateDate}
        ,update_user = #{updateUser}
        <if test="name != null and name != ''">
            ,name = #{name}
        </if>

        <if test="title1 != null">
            ,title1 = #{title1}
        </if>
        <if test="var1 != null">
            ,var1 = #{var1}
        </if>

        <if test="title2 != null ">
            ,title2 = #{title2}
        </if>
        <if test="var2 != null">
            ,var2 = #{var2}
        </if>

        <if test="title3 != null ">
            ,title3 = #{title3}
        </if>
        <if test="var3 != null ">
            ,var3 = #{var3}
        </if>

        <if test="title4 != null">
            ,title4 = #{title4}
        </if>
        <if test="var4 != null ">
            ,var4 = #{var4}
        </if>

        <if test="title5 != null">
            ,title5 = #{title5}
        </if>
        <if test="var5 != null ">
            ,var5 = #{var5}
        </if>

        <if test="title6 != null">
            ,title6 = #{title6}
        </if>
        <if test="var6 != null">
            ,var6 = #{var6}
        </if>

        <if test="deleteFlag != null and deleteFlag != ''">
            ,delete_flag = #{deleteFlag}
        </if>
        where id = #{id}
    </update>

    <select id="count" resultType="java.lang.Integer">
        select count(*)
        from sys_content a
        where delete_flag = 0;
    </select>

    <select id="countByArgs" resultType="java.lang.Integer">
        select count(*)
        from sys_content a
        where delete_flag = 0
        <foreach item="item" index="index" collection="args">
            and ${item.name} ${item.symbol} #{item.data}
        </foreach>
    </select>

    <select id="checkRepeat" resultType="java.lang.Integer">
        select count(*)
        from sys_content a
        where ${columnName} = #{value}
    </select>

    <select id="getByName" resultType="indi.uhyils.pojo.model.ContentEntity">
        select
        <include refid="columnList"/>
        from sys_content a
        where delete_flag = 0
        and name = #{name}
    </select>

</mapper>
