<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="indi.uhyils.dao.DictItemDao">


    <sql id="columnList">
        a
        .
        id
        ,
        a.create_date as 'createDate',
        a.create_user as createUser,
        a.update_date as 'updateDate',
        a.update_user as updateUser,
        a.delete_flag as deleteFlag,
        a.remark,


        a.description,
        a.dict_id as dictId,
        a.sort_order as sortOrder,
        a.text,
        a.value

    </sql>

    <select id="getById" resultType="indi.uhyils.pojo.model.DictItemEntity">
        select
        <include refid="columnList"/>
        from sys_dict_item a
        where delete_flag = 0
        and id = #{id}
    </select>

    <select id="getByArgsNoPage" resultType="indi.uhyils.pojo.model.DictItemEntity">
        select
        <include refid="columnList"/>
        from sys_dict_item a
        where delete_flag = 0
        <foreach item="item" index="index" collection="list">
            and ${item.name} ${item.symbol} #{item.data}
        </foreach>
        order by sort_order
    </select>

    <select id="getByArgs" resultType="indi.uhyils.pojo.model.DictItemEntity">
        select
        <include refid="columnList"/>
        from sys_dict_item a
        where delete_flag = 0

        <foreach item="item" index="index" collection="args">
            and ${item.name} ${item.symbol} #{item.data}
        </foreach>
        order by sort_order
        <if test="page != null and page != ''">
            limit ${(page-1) * size},${size}
        </if>
    </select>


    <insert id="insert" parameterType="indi.uhyils.pojo.model.DictItemEntity">
        insert
        sys_dict_item(id,
                             create_date,
                             create_user,
                             update_date,
                             update_user,
                             delete_flag,
                             description,
                             dict_id,
                             sort_order,
                             text,
                             value)
        values (
        #{id},
        #{createDate},
        #{createUser},
        #{updateDate},
        #{updateUser},
        0,
        #{description},
        #{dictId},
        #{sortOrder},
        #{text},
        #{value}
        )
    </insert>

    <update id="update" parameterType="indi.uhyils.pojo.model.DictItemEntity">
        update sys_dict_item set
        update_date = #{updateDate}
        ,update_user = #{updateUser}

        <if test="description != null and description != ''">
            ,description = #{description}
        </if>
        <if test="dictId != null and dictId != ''">
            ,dict_id = #{dictId}
        </if>
        <if test="sortOrder != null and sortOrder != ''">
            ,sort_order = #{sortOrder}
        </if>
        <if test="text != null and text != ''">
            ,text = #{text}
        </if>
        <if test="value != null and value != ''">
            ,value = #{value}
        </if>


        <if test="deleteFlag != null and deleteFlag != ''">
            ,delete_flag = #{deleteFlag}
        </if>
        where id = #{id}
    </update>

    <select id="count" resultType="java.lang.Integer">
        select count(*)
        from sys_dict_item a
        where delete_flag = 0;
    </select>

    <select id="countByArgs" resultType="java.lang.Integer">
        select count(*)
        from sys_dict_item a
        where delete_flag = 0
        <foreach item="item" index="index" collection="args">
            and ${item.name} ${item.symbol} #{item.data}
        </foreach>
    </select>

    <select id="checkRepeat" resultType="java.lang.Integer">
        select count(*)
        from sys_dict_item a
        where ${columnName} = #{value}
    </select>

    <select id="deleteByDictId" resultType="java.lang.Integer">
        update sys_dict_item
        set delete_flag = 1
        where dict_id = #{id}
    </select>


    <select id="getByDictId" resultType="indi.uhyils.pojo.model.DictItemEntity">
        select
        <include refid="columnList"/>
        from sys_dict_item a
        where dict_id = #{id}
        order by sort_order
    </select>

    <select id="getByCode" resultType="indi.uhyils.pojo.model.DictItemEntity">
        select
        <include refid="columnList"/>
        from sys_dict_item a
        where dict_id = (select id from sys_dict where code = #{code})
    </select>


</mapper>
