<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="indi.uhyils.dao.PowerDao">


    <sql id="columnList">
        a.id,
        a.create_date as 'createDate',
        a.create_user as createUser,
        a.update_date as 'updateDate',
        a.update_user as updateUser,
        a.delete_flag as deleteFlag,
        a.remark,

        a.interface_name as interfaceName,
        a.method_name as methodName
    </sql>

    <select id="getById" resultType="indi.uhyils.pojo.model.PowerEntity">
        select
        <include refid="columnList"/>
        from sys_power a
        where delete_flag = 0
        and id = #{id}
    </select>

    <select id="getByArgsNoPage" resultType="indi.uhyils.pojo.model.PowerEntity">
        select
        <include refid="columnList"/>
        from sys_power a
        where delete_flag = 0
        <foreach item="item" index="index" collection="list">
            and ${item.name} ${item.symbol} #{item.data}
        </foreach>
    </select>

    <select id="getByArgs" resultType="indi.uhyils.pojo.model.PowerEntity">
        select
        <include refid="columnList"/>
        from sys_power a
        where delete_flag = 0

        <foreach item="item" index="index" collection="args">
            and ${item.name} ${item.symbol} #{item.data}
        </foreach>
        <if test="page != null and page != ''">
            limit #{(page-1) * size},#{size}
        </if>
    </select>


    <insert id="insert" parameterType="indi.uhyils.pojo.model.PowerEntity">
        insert sys_power(id,
                         create_date,
                         create_user,
                         update_date,
                         update_user,
                         delete_flag,
                         interface_name,
                         method_name)
        values (#{id},
                #{createDate},
                #{createUser},
                #{updateDate},
                #{updateUser},
                0,
                #{interfaceName},
                #{methodName})
    </insert>

    <update id="update" parameterType="indi.uhyils.pojo.model.PowerEntity">
        update sys_power set
        update_date = #{updateDate}
        ,update_user = #{updateUser}
        <if test="interfaceName != null and interfaceName != ''">
            ,interface_name = #{interfaceName}
        </if>
        <if test="methodName != null and methodName != ''">
            ,method_name = #{methodName}
        </if>
        <if test="deleteFlag != null and deleteFlag != ''">
            ,delete_flag = #{deleteFlag}
        </if>
        where id = #{id}
    </update>

    <select id="count" resultType="java.lang.Integer">
        select count(*)
        from sys_power a
        where delete_flag = 0
    </select>

    <select id="countByArgs" resultType="java.lang.Integer">
        select count(*)
        from sys_power a
        where delete_flag = 0
        <foreach item="item" index="index" collection="args">
            and ${item.name} ${item.symbol} #{item.data}
        </foreach>
    </select>

    <select id="checkRepeat" resultType="java.lang.Integer">
        select count(*)
        from sys_power a
        where ${columnName} = #{value}
    </select>

    <select id="getAll" resultType="indi.uhyils.pojo.model.PowerEntity">
        select
        <include refid="columnList"/>
        from sys_power a
        where delete_flag = 0
        ORDER BY interface_name,method_name
    </select>

    <select id="checkUserHavePower" resultType="java.lang.Integer">
        select count(*)
        from sys_user
        where id = #{userId}
          and role_id in (select id
                          from sys_role
                          where id in (select role_id
                                       from sys_role_dept
                                       where dept_id in (select id
                                                         from sys_dept
                                                         where id in (select dept_id
                                                                      from sys_dept_power
                                                                      where power_id in (select id
                                                                                         from sys_power
                                                                                         where interface_name = #{interfaceName}
                                                                                           and method_name = #{methodName})))))


    </select>


    <delete id="deleteDeptPowerMiddleByPowerId">
        delete
        from sys_dept_power
        where power_id = #{id}
    </delete>

    <select id="getInterfaces" resultType="java.lang.String">
        select interface_name
        from sys_power
        where delete_flag = 0
        group by interface_name
    </select>

    <select id="getMethodNameByInterfaceName" resultType="java.lang.String">
        select method_name
        from sys_power
        where delete_flag = 0
          and interface_name = #{interfaceName}
        group by method_name
    </select>

    <select id="checkPower" resultType="java.lang.Integer">
        select count(*)
        from sys_power
        where delete_flag = 0
          and interface_name = #{interfaceName}
          and method_name = #{methodName}
    </select>

</mapper>
