<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="indi.uhyils.dao.UserDao">


    <sql id="columnList">
        a.id,
        a.create_date as 'createDate',
        a.create_user as createUser,
        a.update_date as 'updateDate',
        a.update_user as updateUser,
        a.delete_flag as deleteFlag,
        a.remark,

        a.nick_name as nickName,
        a.mail,
        a.phone,
        a.username,
        a.head_portrait as headPortrait,
        a.role_id as roleId
    </sql>
    <sql id="deptColumnList">
        a.id,
        a.create_date as 'createDate',
        a.create_user as createUser,
        a.update_date as 'updateDate',
        a.update_user as updateUser,
        a.delete_flag as deleteFlag,
        a.remark,

        a.name
    </sql>
    <sql id="powerColumnList">
        a.id,
        a.create_date as 'createDate',
        a.create_user as createUser,
        a.update_date as 'updateDate',
        a.update_user as updateUser,
        a.delete_flag as deleteFlag,
        a.remark,

        a.interface_name as interfaceName,
        a.method_name as methodName
    </sql>
    <sql id="roleColumnList">
        a.id,
        a.create_date as 'createDate',
        a.create_user as createUser,
        a.update_date as 'updateDate',
        a.update_user as updateUser,
        a.delete_flag as deleteFlag,
        a.remark,

        a.name,
        a.level
    </sql>

    <select id="getByArgs" resultType="indi.uhyils.pojo.model.UserEntity">
        select
        <include refid="columnList"/>
        from sys_user a
        where delete_flag = 0

        <foreach item="item" index="index" collection="args">
            and ${item.name} ${item.symbol} #{item.data}
        </foreach>
        <if test="page != null and page != ''">
            limit #{(page-1) * size},#{size}
        </if>
    </select>


    <select id="getByArgsNoPage" resultType="indi.uhyils.pojo.model.UserEntity">
        select
        <include refid="columnList"/>
        from sys_user a
        where delete_flag = 0
        <foreach item="item" index="index" collection="list">
            and ${item.name} ${item.symbol} #{item.data}
        </foreach>
    </select>


    <select id="getById" resultType="indi.uhyils.pojo.model.UserEntity">
        select
        <include refid="columnList"/>
        from sys_user a
        where delete_flag = 0
        and id = #{id}
    </select>

    <select id="count" resultType="java.lang.Integer">
        select count(*)
        from sys_user a
        where delete_flag = 0;
    </select>

    <select id="countByArgs" resultType="java.lang.Integer">
        select count(*)
        from sys_user a
        where delete_flag = 0
        <foreach item="item" index="index" collection="args">
            and ${item.name} ${item.symbol} #{item.data}
        </foreach>
    </select>

    <select id="checkRepeat" resultType="java.lang.Integer">
        select count(*)
        from sys_user a
        where ${columnName} = #{value}
    </select>

    <insert id="insert" parameterType="indi.uhyils.pojo.model.UserEntity">
        insert sys_user(id, nick_name, mail, phone, head_portrait, username, password, role_id, create_date,
                        create_user, update_date, update_user,
                        delete_flag, remark)
        values (#{id},
                #{nickName},
                #{mail},
                #{phone},
                #{headPortrait},
                #{userName},
                #{password},
                #{roleId},
                #{createDate},
                #{createUser},
                #{updateDate},
                #{updateUser},
                0,
                #{remark})
    </insert>

    <update id="update" parameterType="indi.uhyils.pojo.model.UserEntity">
        update sys_user set
        update_date = #{updateDate}
        ,update_user = #{updateUser}
        <if test="nickName != null and nickName != ''">
            ,nick_name = #{nickName}
        </if>
        <if test="userName != null and userName != ''">
            ,username = #{userName}
        </if>
        <if test="password != null and password != ''">
            ,password = #{password}
        </if>
        <if test="mail != null">
            ,mail = #{mail}
        </if>
        <if test="phone != null">
            ,phone = #{phone}
        </if>
        <if test="headPortrait != null and headPortrait != ''">
            ,head_portrait = #{headPortrait}
        </if>
        <if test="roleId != null ">
            ,role_id = #{roleId}
        </if>
        <if test="deleteFlag != null and deleteFlag != ''">
            ,delete_flag = #{deleteFlag}
        </if>
        <if test="remark != null ">
            ,remark = #{remark}
        </if>
        where id = #{id}
    </update>


    <select id="getUserRoleById" resultType="indi.uhyils.pojo.model.RoleEntity">
        select
        <include refid="roleColumnList"/>
        from sys_role a
        where
        id = #{roleId}
    </select>

    <select id="getUserDeptsByRoleId" resultType="indi.uhyils.pojo.model.DeptEntity">
        select
        <include refid="deptColumnList"/>
        from sys_dept a right join sys_role_dept b on a.id = b.dept_id where b.role_id = #{roleId}
    </select>

    <select id="getUserPowerByDeptId" resultType="indi.uhyils.pojo.model.PowerEntity">
        select
        <include refid="powerColumnList"/>
        from sys_power a right join sys_dept_power b on a.id = b.power_id where b.dept_id = #{deptId}
    </select>

    <select id="getAll" resultType="indi.uhyils.pojo.model.UserEntity">
        select
        <include refid="columnList"/>
        from sys_user a
        where delete_flag = 0
    </select>

    <select id="checkUserPassword" resultType="java.lang.Integer">
        select count(*)
        from sys_user
        where delete_flag = 0
          and passowrd = #{passowrd}
          and id = #{id}
    </select>
    <select id="getNameById" resultType="java.lang.String">
        select nick_name
        from sys_user
        where id = #{id}
    </select>
</mapper>
