<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--$author-->
<!--文件创建日期 2021年10月18日 19时06分05秒-->
<mapper namespace="indi.uhyils.dao.ConsumerPowerDao">
    <resultMap type="indi.uhyils.pojo.DO.ConsumerPowerDO" id="ConsumerPowerMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="createDate" column="create_date" jdbcType="INTEGER"/>
        <result property="createUser" column="create_user" jdbcType="INTEGER"/>
        <result property="deleteFlag" column="delete_flag" jdbcType="BOOLEAN"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
        <result property="updateDate" column="update_date" jdbcType="INTEGER"/>
        <result property="updateUser" column="update_user" jdbcType="INTEGER"/>
        <result property="consumerId" column="consumer_id" jdbcType="INTEGER"/>
        <result property="powerId" column="power_id" jdbcType="INTEGER"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
    </resultMap>

    <!--批量通过主键修改数据-->
    <update id="updateBatch" parameterType="indi.uhyils.pojo.DO.ConsumerPowerDO">
        <foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";">
            update sys_consumer_power set
            update_date = #{item.updateDate}
            ,update_user = #{item.updateUser}
            <if test="item.createDate != null">
                ,create_date = #{item.createDate}
            </if>
            <if test="item.createUser != null">
                ,create_user = #{item.createUser}
            </if>
            <if test="item.deleteFlag != null">
                ,delete_flag = #{item.deleteFlag}
            </if>
            <if test="item.remark != null and item.remark != ''">
                ,remark = #{item.remark}
            </if>
            <if test="item.updateDate != null">
                ,update_date = #{item.updateDate}
            </if>
            <if test="item.updateUser != null">
                ,update_user = #{item.updateUser}
            </if>
            <if test="item.consumerId != null">
                ,consumer_id = #{item.consumerId}
            </if>
            <if test="item.powerId != null">
                ,power_id = #{item.powerId}
            </if>
            <if test="item.status != null">
                ,status = #{item.status}
            </if>
            where id = #{item.id}
        </foreach>
    </update>
</mapper>
