<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="indi.uhyils.dao.PlatformSourceInterfaceDao">
  <resultMap type="indi.uhyils.pojo.DO.PlatformSourceInterfaceDO" id="PlatformSourceInterfaceMap">
  </resultMap>

  <!--批量通过主键修改数据-->
  <update id="updateBatch" parameterType="indi.uhyils.pojo.DO.PlatformSourceInterfaceDO">
    <foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";">
      update sys_platform_source_interface set
      update_date = #{item.updateDate}
      ,update_user = #{item.updateUser}
              <if test="returnType != null and returnType != ''">
                ,return_type = #{returnType}
              </if>
              <if test="requestType != null and requestType != ''">
                ,request_type = #{requestType}
              </if>
              <if test="interfaceName != null and interfaceName != ''">
                ,interface_name = #{interfaceName}
              </if>
              <if test="remark != null and remark != ''">
                ,remark = #{remark}
              </if>
              <if test="updateDate != null">
                ,update_date = #{updateDate}
              </if>
              <if test="url != null and url != ''">
                ,url = #{url}
              </if>
              <if test="paramType != null and paramType != ''">
                ,param_type = #{paramType}
              </if>
              <if test="updateUser != null">
                ,update_user = #{updateUser}
              </if>
              <if test="methodName != null and methodName != ''">
                ,method_name = #{methodName}
              </if>
              <if test="createUser != null">
                ,create_user = #{createUser}
              </if>
              <if test="sourceId != null">
                ,source_id = #{sourceId}
              </if>
              <if test="createDate != null">
                ,create_date = #{createDate}
              </if>
              <if test="deleteFlag != null">
                ,delete_flag = #{deleteFlag}
              </if>
      where id = #{id}
    </foreach>
  </update>
</mapper>
