<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="indi.uhyils.dao.PlatformNodeLinkDao">
  <resultMap type="indi.uhyils.pojo.DO.PlatformNodeLinkDO" id="PlatformNodeLinkMap">
  </resultMap>

  <!--批量通过主键修改数据-->
  <update id="updateBatch" parameterType="indi.uhyils.pojo.DO.PlatformNodeLinkDO">
    <foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";">
      update sys_platform_node_link set
      update_date = #{item.updateDate}
      ,update_user = #{item.updateUser}
              <if test="fid != null">
                ,fid = #{fid}
              </if>
              <if test="updateUser != null">
                ,update_user = #{updateUser}
              </if>
              <if test="remark != null and remark != ''">
                ,remark = #{remark}
              </if>
              <if test="createUser != null">
                ,create_user = #{createUser}
              </if>
              <if test="createDate != null">
                ,create_date = #{createDate}
              </if>
              <if test="deleteFlag != null">
                ,delete_flag = #{deleteFlag}
              </if>
              <if test="updateDate != null">
                ,update_date = #{updateDate}
              </if>
              <if test="cid != null">
                ,cid = #{cid}
              </if>
      where id = #{id}
    </foreach>
  </update>
</mapper>
