<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--$author-->
<!--文件创建日期 2021年10月18日 19时06分09秒-->
<mapper namespace="indi.uhyils.dao.ProviderInfoDao">
    <resultMap type="indi.uhyils.pojo.DO.ProviderInfoDO" id="ProviderInfoMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="createDate" column="create_date" jdbcType="INTEGER"/>
        <result property="createUser" column="create_user" jdbcType="INTEGER"/>
        <result property="deleteFlag" column="delete_flag" jdbcType="BOOLEAN"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
        <result property="updateDate" column="update_date" jdbcType="INTEGER"/>
        <result property="updateUser" column="update_user" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="uniqueKey" column="unique_key" jdbcType="VARCHAR"/>
        <result property="responsibilityTelPhone" column="responsibility_tel_phone" jdbcType="VARCHAR"/>
        <result property="responsibilityName" column="responsibility_name" jdbcType="VARCHAR"/>
    </resultMap>

    <!--批量通过主键修改数据-->
    <update id="updateBatch" parameterType="indi.uhyils.pojo.DO.ProviderInfoDO">
        <foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";">
            update sys_provider_info set
            update_date = #{item.updateDate}
            ,update_user = #{item.updateUser}
            <if test="item.createDate != null">
                ,create_date = #{item.createDate}
            </if>
            <if test="item.createUser != null">
                ,create_user = #{item.createUser}
            </if>
            <if test="item.deleteFlag != null">
                ,delete_flag = #{item.deleteFlag}
            </if>
            <if test="item.remark != null and item.remark != ''">
                ,remark = #{item.remark}
            </if>
            <if test="item.updateDate != null">
                ,update_date = #{item.updateDate}
            </if>
            <if test="item.updateUser != null">
                ,update_user = #{item.updateUser}
            </if>
            <if test="item.name != null and item.name != ''">
                ,name = #{item.name}
            </if>
            <if test="item.uniqueKey != null and item.uniqueKey != ''">
                ,unique_key = #{item.uniqueKey}
            </if>
            <if test="item.responsibilityTelPhone != null and item.responsibilityTelPhone != ''">
                ,responsibility_tel_phone = #{item.responsibilityTelPhone}
            </if>
            <if test="item.responsibilityName != null and item.responsibilityName != ''">
                ,responsibility_name = #{item.responsibilityName}
            </if>
            where id = #{item.id}
        </foreach>
    </update>
</mapper>
