package ${package}.pojo.DO;

import com.baomidou.mybatisplus.annotation.TableField;
import com.baomidou.mybatisplus.annotation.TableName;
import ${package}.pojo.DO.base.BaseDO;
import org.apache.commons.lang3.builder.ToStringBuilder;

/**
* ${tableComment}(${className})表 数据库实体类
*
* @author ${author}
* @version 1.0
* @date 文件创建日期 ${dateTime}
*/
@TableName(value = "${tableName}")
public class ${className}DO extends BaseDO {
    
    private static final long serialVersionUID = -1L;

#foreach ($column in $columns)
    #if($column.smallName != 'id' && $column.smallName != 'remark' && $column.smallName != 'createUser' && $column.smallName != 'createDate' && $column.smallName != 'updateUser' && $column.smallName != 'updateDate' && $column.smallName != 'deleteFlag')
        #if($column.remark != '' || $column.remark)
    /**
     * $column.remark
     */
        #end
    @TableField
    private $column.javaType $column.smallName;
    #end
#end

#foreach ($column in $columns)
    #if($column.smallName != 'id' && $column.smallName != 'remark' && $column.smallName != 'createUser' && $column.smallName != 'createDate' && $column.smallName != 'updateUser' && $column.smallName != 'updateDate' && $column.smallName != 'deleteFlag')
    public void set${column.bigName}($column.javaType $column.smallName){
        this.$column.smallName = $column.smallName;
    }

    public $column.javaType get${column.bigName}(){
        return $column.smallName;
    }
    #end
    
#end

    @Override
    public String toString() {
        return new ToStringBuilder(this)
            #foreach ($column in $columns)
                #if( $column.smallName != 'remark' && $column.smallName != 'createUser' && $column.smallName != 'createDate' && $column.smallName != 'updateUser' && $column.smallName != 'updateDate' && $column.smallName != 'deleteFlag')
                .append("${column.smallName}", get${column.bigName}())
                #end
            #end
                .toString();
    }
}
