<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="indi.uhyils.dao.OrderFlowNodeDao">


    <sql id="columnList">
        a.necessary as necessary,
		a.enclosure_id as enclosureId,
		a.remark as remark,
		a.update_date as updateDate,
		a.result as result,
		a.update_user as updateUser,
		a.id as id,
		a.create_user as createUser,
		a.create_date as createDate,
		a.delete_flag as deleteFlag,
		a.response_user_id as responseUserId,
		a.order_id as orderId,
		a.status as status
    </sql>

    <select id="getById" resultType="indi.uhyils.pojo.model.OrderFlowNodeEntity">
        select
        <include refid="columnList"/>
        from sys_order_flow_node a
        where delete_flag = 0
        and id = #{id}
    </select>

    <select id="getByArgsNoPage" resultType="indi.uhyils.pojo.model.OrderFlowNodeEntity">
        select
        <include refid="columnList"/>
        from sys_order_flow_node a
        where delete_flag = 0
        <foreach item="item" index="index" collection="list">
            and ${item.name} ${item.symbol} #{item.data}
        </foreach>
    </select>

    <select id="getByArgs" resultType="indi.uhyils.pojo.model.OrderFlowNodeEntity">
        select
        <include refid="columnList"/>
        from sys_order_flow_node a
        where delete_flag = 0

        <foreach item="item" index="index" collection="args">
            and ${item.name} ${item.symbol} #{item.data}
        </foreach>
        <if test="page != null and page != ''">
            limit ${(page-1) * size},${page * size}
        </if>

    </select>


    <insert id="insert" parameterType="indi.uhyils.pojo.model.OrderFlowNodeEntity">
        insert sys_order_flow_node(necessary,
                                   enclosure_id,
                                   remark,
                                   update_date,
                                   result,
                                   update_user,
                                   id,
                                   create_user,
                                   create_date,
                                   delete_flag,
                                   response_user_id,
                                   order_id,
                                   status)
        values (#{necessary},
                #{enclosureId},
                #{remark},
                #{updateDate},
                #{result},
                #{updateUser},
                #{id},
                #{createUser},
                #{createDate},
                #{deleteFlag},
                #{responseUserId},
                #{orderId},
                #{status})
    </insert>

    <update id="update" parameterType="indi.uhyils.pojo.model.OrderFlowNodeEntity">
        update sys_order_flow_node set
        <if test="necessary != null and necessary != ''">
            ,necessary = #{necessary}
        </if>
        <if test="enclosureId != null and enclosureId != ''">
            ,enclosure_id = #{enclosureId}
        </if>
        <if test="remark != null and remark != ''">
            ,remark = #{remark}
        </if>
        <if test="updateDate != null and updateDate != ''">
            ,update_date = #{updateDate}
        </if>
        <if test="result != null and result != ''">
            ,result = #{result}
        </if>
        <if test="updateUser != null and updateUser != ''">
            ,update_user = #{updateUser}
        </if>
        <if test="createUser != null and createUser != ''">
            ,create_user = #{createUser}
        </if>
        <if test="createDate != null and createDate != ''">
            ,create_date = #{createDate}
        </if>
        <if test="deleteFlag != null and deleteFlag != ''">
            ,delete_flag = #{deleteFlag}
        </if>
        <if test="responseUserId != null and responseUserId != ''">
            ,response_user_id = #{responseUserId}
        </if>
        <if test="orderId != null and orderId != ''">
            ,order_id = #{orderId}
        </if>
        <if test="status != null and status != ''">
            ,status = #{status}
        </if>
        where id = #{id}
    </update>

    <select id="count" resultType="java.lang.Integer">
        select count(*)
        from sys_order_flow_node a
        where delete_flag = 0;
    </select>

    <select id="countByArgs" resultType="java.lang.Integer">
        select count(*)
        from sys_order_flow_node a
        where delete_flag = 0
        <foreach item="arg" index="index" collection="args">
            and ${arg.name} ${arg.symbol} #{arg.data}
        </foreach>
    </select>

    <select id="checkRepeat" resultType="java.lang.Integer">
        select count(*)
        from sys_order_flow_node a
        where ${columnName} = #{value}
    </select>


</mapper>
