<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="indi.uhyils.dao.DeviceArgDao">
    <resultMap type="indi.uhyils.pojo.DO.DeviceArgDO" id="DeviceArgMap">
        <result property="id" column="id" jdbcType="VARCHAR"/>
        <result property="createDate" column="create_date" jdbcType="INTEGER"/>
        <result property="createUser" column="create_user" jdbcType="VARCHAR"/>
        <result property="deleteFlag" column="delete_flag" jdbcType="BOOLEAN"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
        <result property="updateDate" column="update_date" jdbcType="INTEGER"/>
        <result property="updateUser" column="update_user" jdbcType="VARCHAR"/>
        <result property="deviceId" column="device_id" jdbcType="VARCHAR"/>
        <result property="directionX" column="direction_x" jdbcType="OTHER"/>
        <result property="directionY" column="direction_y" jdbcType="OTHER"/>
        <result property="canMove" column="can_move" jdbcType="OTHER"/>
        <result property="canRotate" column="can_rotate" jdbcType="OTHER"/>
    </resultMap>

    <!--查询单个-->
    <select id="getById" resultMap="DeviceArgMap">
        select id,
        create_date,
        create_user,
        delete_flag,
        remark,
        update_date,
        update_user,
        device_id,
        direction_x,
        direction_y,
        can_move,
        can_rotate
        from my_smart_home.sys_device_arg
        where delete_flag = 0
        and id = #{id}
    </select>

    <!--根据某些字段获取实例(不分页)-->
    <select id="getByArgsNoPage" resultMap="DeviceArgMap">
        select
        id, create_date, create_user, delete_flag, remark, update_date, update_user, device_id, direction_x,
        direction_y, can_move, can_rotate
        from my_smart_home.sys_device_arg
        where delete_flag = 0
        <if test="list != null">
            <foreach item="item" index="index" collection="list">
                and ${item.name} ${item.symbol} #{item.data}
            </foreach>
        </if>
    </select>

    <!--根据某些字段获取实例(分页)-->
    <select id="getByArgs" resultMap="DeviceArgMap">
        select
        id, create_date, create_user, delete_flag, remark, update_date, update_user, device_id, direction_x,
        direction_y, can_move, can_rotate
        from my_smart_home.sys_device_arg
        where delete_flag = 0
        <if test="args != null">
            <foreach item="item" index="index" collection="args">
                and ${item.name} ${item.symbol} #{item.data}
            </foreach>
        </if>

        <if test="page != null and page != ''">
            limit ${(page-1) * size},${size}
        </if>
    </select>


    <!--新增所有列-->
    <insert id="insert" parameterType="indi.uhyils.pojo.DO.DeviceArgDO">
        insert into my_smart_home.sys_device_arg(id, create_date, create_user, delete_flag, remark, update_date,
        update_user, device_id, direction_x, direction_y, can_move, can_rotate)
        values (#{id}, #{createDate}, #{createUser}, #{deleteFlag}, #{remark}, #{updateDate}, #{updateUser},
        #{deviceId}, #{directionX}, #{directionY}, #{canMove}, #{canRotate})
    </insert>

    <!--通过主键修改数据-->
    <update id="update" parameterType="indi.uhyils.pojo.DO.DeviceArgDO">
        update my_smart_home.sys_device_arg
        set
        update_date = #{updateDate}
        ,update_user = #{updateUser}
        <if test="createDate != null">
            create_date = #{createDate},
        </if>
        <if test="createUser != null and createUser != ''">
            create_user = #{createUser},
        </if>
        <if test="deleteFlag != null">
            delete_flag = #{deleteFlag},
        </if>
        <if test="remark != null and remark != ''">
            remark = #{remark},
        </if>
        <if test="updateDate != null">
            update_date = #{updateDate},
        </if>
        <if test="updateUser != null and updateUser != ''">
            update_user = #{updateUser},
        </if>
        <if test="deviceId != null and deviceId != ''">
            device_id = #{deviceId},
        </if>
        <if test="directionX != null">
            direction_x = #{directionX},
        </if>
        <if test="directionY != null">
            direction_y = #{directionY},
        </if>
        <if test="canMove != null">
            can_move = #{canMove},
        </if>
        <if test="canRotate != null">
            can_rotate = #{canRotate},
        </if>
        where id = #{id}
    </update>

    <!--查询总条数-->
    <select id="count" resultType="java.lang.Integer">
        select count(*)
        from my_smart_home.sys_device_arg
        where delete_flag = 0;
    </select>

    <!--根据条件查询条数-->
    <select id="countByArgs" resultType="java.lang.Integer">
        select count(*)
        from my_smart_home.sys_device_arg
        where delete_flag = 0
        <if test="args != null">
            <foreach item="item" index="index" collection="args">
                and ${item.name} ${item.symbol} #{item.data}
            </foreach>
        </if>
    </select>

    <!--检查是否有重复-->
    <select id="checkRepeat" resultType="java.lang.Integer">
        select count(*)
        from my_smart_home.sys_device_arg
        where ${columnName} = #{value}
    </select>
</mapper>
