<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="indi.uhyils.dao.ResponseDao">
    <resultMap type="indi.uhyils.pojo.model.ResponseEntity" id="ResponseMap">
        <result property="id" column="id" jdbcType="VARCHAR"/>
        <result property="createDate" column="create_date" jdbcType="INTEGER"/>
        <result property="createUser" column="create_user" jdbcType="VARCHAR"/>
        <result property="deleteFlag" column="delete_flag" jdbcType="BOOLEAN"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
        <result property="updateDate" column="update_date" jdbcType="INTEGER"/>
        <result property="updateUser" column="update_user" jdbcType="VARCHAR"/>
        <result property="triggerType" column="trigger_type" jdbcType="INTEGER"/>
        <result property="tiggerSceneId" column="tigger_scene_id" jdbcType="VARCHAR"/>
        <result property="instructionsId" column="instructions_id" jdbcType="VARCHAR"/>
        <result property="manual" column="manual" jdbcType="INTEGER"/>
    </resultMap>

    <!--查询单个-->
    <select id="getById" resultMap="ResponseMap">
        select id,
        create_date,
        create_user,
        delete_flag,
        remark,
        update_date,
        update_user,
        trigger_type,
        tigger_scene_id,
        instructions_id,
        manual
        from my_smart_home.sys_response
        where delete_flag = 0
        and id = #{id}
    </select>

    <!--根据某些字段获取实例(不分页)-->
    <select id="getByArgsNoPage" resultMap="ResponseMap">
        select
        id, create_date, create_user, delete_flag, remark, update_date, update_user, trigger_type, tigger_scene_id,
        instructions_id, manual
        from my_smart_home.sys_response
        where delete_flag = 0
        <if test="list != null">
            <foreach item="item" index="index" collection="list">
                and ${item.name} ${item.symbol} #{item.data}
            </foreach>
        </if>
    </select>

    <!--根据某些字段获取实例(分页)-->
    <select id="getByArgs" resultMap="ResponseMap">
        select
        id, create_date, create_user, delete_flag, remark, update_date, update_user, trigger_type, tigger_scene_id,
        instructions_id, manual
        from my_smart_home.sys_response
        where delete_flag = 0
        <if test="args != null">
            <foreach item="item" index="index" collection="args">
                and ${item.name} ${item.symbol} #{item.data}
            </foreach>
        </if>

        <if test="page != null and page != ''">
            limit ${(page-1) * size},${size}
        </if>
    </select>


    <!--新增所有列-->
    <insert id="insert" parameterType="indi.uhyils.pojo.model.ResponseEntity">
        insert into my_smart_home.sys_response(id, create_date, create_user, delete_flag, remark, update_date,
        update_user, trigger_type, tigger_scene_id, instructions_id, manual)
        values (#{id}, #{createDate}, #{createUser}, #{deleteFlag}, #{remark}, #{updateDate}, #{updateUser},
        #{triggerType}, #{tiggerSceneId}, #{instructionsId}, #{manual})
    </insert>

    <!--通过主键修改数据-->
    <update id="update" parameterType="indi.uhyils.pojo.model.ResponseEntity">
        update my_smart_home.sys_response
        set
        update_date = #{updateDate}
        ,update_user = #{updateUser}
        <if test="createDate != null">
            create_date = #{createDate},
        </if>
        <if test="createUser != null and createUser != ''">
            create_user = #{createUser},
        </if>
        <if test="deleteFlag != null">
            delete_flag = #{deleteFlag},
        </if>
        <if test="remark != null and remark != ''">
            remark = #{remark},
        </if>
        <if test="updateDate != null">
            update_date = #{updateDate},
        </if>
        <if test="updateUser != null and updateUser != ''">
            update_user = #{updateUser},
        </if>
        <if test="triggerType != null">
            trigger_type = #{triggerType},
        </if>
        <if test="tiggerSceneId != null and tiggerSceneId != ''">
            tigger_scene_id = #{tiggerSceneId},
        </if>
        <if test="instructionsId != null and instructionsId != ''">
            instructions_id = #{instructionsId},
        </if>
        <if test="manual != null">
            manual = #{manual},
        </if>
        where id = #{id}
    </update>

    <!--查询总条数-->
    <select id="count" resultType="java.lang.Integer">
        select count(*)
        from my_smart_home.sys_response
        where delete_flag = 0;
    </select>

    <!--根据条件查询条数-->
    <select id="countByArgs" resultType="java.lang.Integer">
        select count(*)
        from my_smart_home.sys_response
        where delete_flag = 0
        <if test="args != null">
            <foreach item="item" index="index" collection="args">
                and ${item.name} ${item.symbol} #{item.data}
            </foreach>
        </if>
    </select>

    <!--检查是否有重复-->
    <select id="checkRepeat" resultType="java.lang.Integer">
        select count(*)
        from my_smart_home.sys_response
        where ${columnName} = #{value}
    </select>
</mapper>
