<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="indi.uhyils.dao.MonitorDao">
    <sql id="columnList">
        a.
            id,
        a.ip,
        a.service_name      as serviceName,
        a.time,
        a.jvm_total_mem     as jvmTotalMem,
        a.heap_init_mem     as heapInitMem,
        a.heap_total_mem    as heapTotalMem,
        a.no_heap_init_mem  as noHeapInitMem,
        a.no_heap_total_mem as noHeapTotalMem,
        a.end_time          as endTime,
        a.create_date       as createDate,
        a.create_user       as createUser,
        a.delete_flag       as deleteFlag,
        a.remark,
        a.update_date       as updateDate,
        a.update_user       as updateUser
    </sql>

    <select id="getById" resultType="indi.uhyils.pojo.model.LogMonitorEntity">
        select
        <include refid="columnList"/>
        from sys_log_monitor a
        where id = #{id}
    </select>

    <select id="getByArgsNoPage" resultType="indi.uhyils.pojo.model.LogMonitorEntity">
        select
        <include refid="columnList"/>
        from sys_log_monitor a
        where 1=1
        <foreach item="item" index="index" collection="args">
            and ${item.name} ${item.symbol} #{item.data}
        </foreach>
        order by time desc
    </select>

    <select id="getByArgs" resultType="indi.uhyils.pojo.model.LogMonitorEntity">
        select
        <include refid="columnList"/>
        from sys_log_monitor a
        where 1=1
        <foreach item="item" index="index" collection="args">
            and ${item.name} ${item.symbol} #{item.data}
        </foreach>
        order by time desc
        <if test="page != null and page != ''">
            limit ${(page-1) * size},${size}
        </if>
    </select>


    <insert id="insert" parameterType="indi.uhyils.pojo.model.LogMonitorEntity">
        insert
        sys_log_monitor(id,
        ip,
        service_name,
        time,
        jvm_total_mem,
        heap_init_mem,
        heap_total_mem,
        no_heap_init_mem,
        no_heap_total_mem,
        end_time,
        create_date,
        create_user,
        delete_flag,
        remark,
        update_date,
        update_user
        )
        values (
        #{id},
        #{ip},
        #{serviceName},
        #{time},
        #{jvmTotalMem},
        #{heapInitMem},
        #{heapTotalMem},
        #{noHeapInitMem},
        #{noHeapTotalMem},
        #{endTime},
        #{createDate},
        #{createUser},
        #{deleteFlag},
        #{remark},
        #{updateDate},
        #{updateUser}
        )
    </insert>

    <select id="count" resultType="java.lang.Integer">
        select count(*)
        from sys_log_monitor a
    </select>

    <select id="countByArgs" resultType="java.lang.Integer">
        select count(*)
        from sys_log_monitor a
        where 1=1
        <foreach item="arg" index="index" collection="args">
            and ${arg.name} ${arg.symbol} #{arg.data}
        </foreach>
    </select>

    <select id="checkRepeat" resultType="java.lang.Integer">
        select count(*)
        from sys_log_monitor a
        where ${columnName} = #{value}
    </select>

    <update id="changeEndTime">
        update sys_log_monitor a
        set a.end_time = #{endTime}
        where a.id = #{id}
    </update>

    <select id="getIdByJvmUniqueMark" parameterType="indi.uhyils.mq.pojo.mqinfo.JvmUniqueMark"
            resultType="java.lang.Long">
        select id
        from sys_log_monitor
        where service_name = #{serviceName}
        and time = #{time}
        and ip = #{ip}
    </select>
    <select id="getOnlineService" resultType="indi.uhyils.pojo.model.LogMonitorEntity" parameterType="java.lang.Long">
        select
        <include refid="columnList"/>
        from sys_log_monitor a
        where end_time > #{time}
    </select>

    <select id="checkMonitorRepeat" parameterType="indi.uhyils.mq.pojo.mqinfo.JvmUniqueMark"
            resultType="java.lang.Integer">
        select count(*)
        from sys_log_monitor
        where service_name = #{serviceName}
        and ip = #{ip}
        and time = #{time}
    </select>
    <update id="updateMonitorThatRepeatByIpAndName">
        update sys_log_monitor
        set end_time = #{now}
        where service_name = #{serviceName}
        and ip = #{ip}
        and end_time > #{now}
    </update>
</mapper>
