<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="indi.uhyils.dao.OutApiDao">
    <resultMap type="indi.uhyils.pojo.DO.OutApiDO" id="OutApiMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="createDate" column="create_date" jdbcType="INTEGER"/>
        <result property="createUser" column="create_user" jdbcType="INTEGER"/>
        <result property="deleteFlag" column="delete_flag" jdbcType="BOOLEAN"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
        <result property="updateDate" column="update_date" jdbcType="INTEGER"/>
        <result property="updateUser" column="update_user" jdbcType="INTEGER"/>
        <result property="appId" column="app_id" jdbcType="VARCHAR"/>
        <result property="secretId" column="secret_id" jdbcType="VARCHAR"/>
        <result property="secretKey" column="secret_key" jdbcType="VARCHAR"/>
    </resultMap>

    <!--查询单个-->
    <select id="getById" resultMap="OutApiMap">
        select
        id, create_date, create_user, delete_flag, remark, update_date, update_user, app_id, secret_id, secret_key
        from sys_out_api
        where id = #{id}
    </select>

    <!--查询多个-->
    <select id="getByIds" resultMap="OutApiMap">
        select
        id, create_date, create_user, delete_flag, remark, update_date, update_user, app_id, secret_id, secret_key
        from sys_out_api
        where id in
        <foreach collection="ids" item="item" index="index" separator=",">
            #{item}
        </foreach>
    </select>

    <!--根据某些字段获取实例(不分页)-->
    <select id="getByArgsNoPage" resultMap="OutApiMap">
        select
        id, create_date, create_user, delete_flag, remark, update_date, update_user, app_id, secret_id, secret_key
        from sys_out_api
        where 1=1
        <if test="args != null">
            <foreach item="item" index="index" collection="args">
                and ${item.name} ${item.symbol} #{item.data}
            </foreach>
        </if>
        <if test="order != null">
            order by
            <foreach collection="order.columns" item="item" index="index" separator=",">
                ${item.columnName.name} ${item.symbol.name}
            </foreach>
        </if>
    </select>

    <!--根据某些字段获取实例(分页)-->
    <select id="getByArgs" resultMap="OutApiMap">
        select
        id, create_date, create_user, delete_flag, remark, update_date, update_user, app_id, secret_id, secret_key
        from sys_out_api
        where 1=1
        <if test="args != null">
            <foreach item="item" index="index" collection="args">
                and ${item.name} ${item.symbol} #{item.data}
            </foreach>
        </if>

        <if test="order != null">
            order by
            <foreach collection="order.columns" item="item" index="index" separator=",">
                ${item.columnName.name} ${item.symbol.name}
            </foreach>
        </if>

        <if test="limit.number != null and limit.number != ''">
            limit ${(limit.number-1) * limit.size},${ limit.number * limit.size}
        </if>
    </select>


    <!--新增所有列-->
    <insert id="insert" parameterType="indi.uhyils.pojo.DO.OutApiDO">
        insert into sys_out_api(
        id, create_date, create_user, delete_flag, remark, update_date, update_user, app_id, secret_id, secret_key)
        values (#{id}, #{createDate}, #{createUser}, #{deleteFlag}, #{remark}, #{updateDate}, #{updateUser}, #{appId},
        #{secretId}, #{secretKey})
    </insert>

    <!--通过主键修改数据-->
    <update id="update" parameterType="indi.uhyils.pojo.DO.OutApiDO">
        update sys_out_api set
        update_date = #{updateDate}
        ,update_user = #{updateUser}
        <if test="createDate != null">
            ,create_date = #{createDate}
        </if>
        <if test="createUser != null">
            ,create_user = #{createUser}
        </if>
        <if test="deleteFlag != null">
            ,delete_flag = #{deleteFlag}
        </if>
        <if test="remark != null and remark != ''">
            ,remark = #{remark}
        </if>
        <if test="updateDate != null">
            ,update_date = #{updateDate}
        </if>
        <if test="updateUser != null">
            ,update_user = #{updateUser}
        </if>
        <if test="appId != null and appId != ''">
            ,app_id = #{appId}
        </if>
        <if test="secretId != null and secretId != ''">
            ,secret_id = #{secretId}
        </if>
        <if test="secretKey != null and secretKey != ''">
            ,secret_key = #{secretKey}
        </if>
        where id = #{id}
    </update>

    <!--通过主键修改数据-->
    <update id="updateByOrder" parameterType="indi.uhyils.pojo.DO.OutApiDO">
        update sys_out_api set
        update_date = #{data.updateDate}
        ,update_user = #{data.updateUser}
        <if test="data.createDate != null">
            ,create_date = #{data.createDate}
        </if>
        <if test="data.createUser != null">
            ,create_user = #{data.createUser}
        </if>
        <if test="data.deleteFlag != null">
            ,delete_flag = #{data.deleteFlag}
        </if>
        <if test="data.remark != null and data.remark != ''">
            ,remark = #{data.remark}
        </if>
        <if test="data.updateDate != null">
            ,update_date = #{data.updateDate}
        </if>
        <if test="data.updateUser != null">
            ,update_user = #{data.updateUser}
        </if>
        <if test="data.appId != null and data.appId != ''">
            ,app_id = #{data.appId}
        </if>
        <if test="data.secretId != null and data.secretId != ''">
            ,secret_id = #{data.secretId}
        </if>
        <if test="data.secretKey != null and data.secretKey != ''">
            ,secret_key = #{data.secretKey}
        </if>
        where delete_flag = 0
        <if test="args != null">
            <foreach item="item" index="index" collection="args">
                and ${item.name} ${item.symbol} #{item.data}
            </foreach>
        </if>
    </update>

    <!--批量通过主键修改数据-->
    <update id="updateBatch" parameterType="indi.uhyils.pojo.DO.OutApiDO">
        <foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";">
            update sys_out_api set
            update_date = #{item.updateDate}
            ,update_user = #{item.updateUser}
            <if test="item.createDate != null">
                ,create_date = #{item.createDate}
            </if>
            <if test="item.createUser != null">
                ,create_user = #{item.createUser}
            </if>
            <if test="item.deleteFlag != null">
                ,delete_flag = #{item.deleteFlag}
            </if>
            <if test="item.remark != null and item.remark != ''">
                ,remark = #{item.remark}
            </if>
            <if test="item.updateDate != null">
                ,update_date = #{item.updateDate}
            </if>
            <if test="item.updateUser != null">
                ,update_user = #{item.updateUser}
            </if>
            <if test="item.appId != null and item.appId != ''">
                ,app_id = #{item.appId}
            </if>
            <if test="item.secretId != null and item.secretId != ''">
                ,secret_id = #{item.secretId}
            </if>
            <if test="item.secretKey != null and item.secretKey != ''">
                ,secret_key = #{item.secretKey}
            </if>
            where id = #{item.id}
        </foreach>
    </update>

    <!--查询总条数-->
    <select id="count" resultType="java.lang.Integer">
        select count(*)
        from sys_out_api
    </select>

    <!--根据条件查询条数-->
    <select id="countByArgs" resultType="java.lang.Integer">
        select count(*)
        from sys_out_api
        where 1=1
        <if test="args != null">
            <foreach item="item" index="index" collection="args">
                and ${item.name} ${item.symbol} #{item.data}
            </foreach>
        </if>
    </select>

    <!--检查是否有重复-->
    <select id="checkRepeat" resultType="java.lang.Integer">
        select count(*)
        from sys_out_api
        where ${columnName} = #{value}
    </select>
</mapper>
