<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="indi.uhyils.dao.NodeParseDao">
    <resultMap type="indi.uhyils.pojo.DO.NodeParseDO" id="NodeParseMap">
            <result property="id" column="id" jdbcType="BIGINT"/>
            <result property="createDate" column="create_date" jdbcType="BIGINT"/>
            <result property="createUser" column="create_user" jdbcType="BIGINT"/>
            <result property="deleteFlag" column="delete_flag" jdbcType="BIT"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
            <result property="updateDate" column="update_date" jdbcType="BIGINT"/>
            <result property="updateUser" column="update_user" jdbcType="BIGINT"/>
            <result property="nodeId" column="node_id" jdbcType="BIGINT"/>
            <result property="paramName" column="param_name" jdbcType="VARCHAR"/>
            <result property="paramType" column="param_type" jdbcType="INTEGER"/>
            <result property="fid" column="fid" jdbcType="BIGINT"/>
    </resultMap>

    <!--批量通过主键修改数据-->
    <update id="updateBatch"
            parameterType="indi.uhyils.pojo.DO.NodeParseDO">
        <foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";">
            update sys_node_parse
            set update_date = #{item.updateDate}
            ,update_user = #{item.updateUser}
              <if test="createDate != null">
                ,create_date = #{createDate}
              </if>
              <if test="createUser != null">
                ,create_user = #{createUser}
              </if>
              <if test="deleteFlag != null">
                ,delete_flag = #{deleteFlag}
              </if>
              <if test="remark != null and remark != ''">
                ,remark = #{remark}
              </if>
              <if test="updateDate != null">
                ,update_date = #{updateDate}
              </if>
              <if test="updateUser != null">
                ,update_user = #{updateUser}
              </if>
              <if test="nodeId != null">
                ,node_id = #{nodeId}
              </if>
              <if test="paramName != null and paramName != ''">
                ,param_name = #{paramName}
              </if>
              <if test="paramType != null">
                ,param_type = #{paramType}
              </if>
              <if test="fid != null">
                ,fid = #{fid}
              </if>
      where id = #{id}
    </foreach>
  </update>
</mapper>
