<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="indi.uhyils.dao.ApiDao">
    <sql id="columnList">
        a.id,
        a.create_date  as createDate,
        a.create_user  as createUser,
        a.delete_flag  as deleteFlag,
        a.remark,
        a.update_date  as updateDate,
        a.update_user  as updateUser,


        a.api_group_id as apiGroupid,
        a.api_order    as apiOrder,
        a.frequency,
        a.head,
        a.need_repeat  as needRepeat,
        a.param,
        a.result_code  as resultCode,
        a.type,
        a.url
    </sql>

    <select id="getById" resultType="indi.uhyils.pojo.DO.ApiDO">
        select
        <include refid="columnList"/>
        from sys_api a
        where delete_flag = 0
        and id = #{id}
    </select>


    <select id="getByArgsNoPage" resultType="indi.uhyils.pojo.DO.ApiDO">
        select
        <include refid="columnList"/>
        from sys_api a
        where delete_flag = 0
        <foreach item="item" index="index" collection="list">
            and ${item.name} ${item.symbol} #{item.data}
        </foreach>
    </select>

    <select id="getByArgs" resultType="indi.uhyils.pojo.DO.ApiDO">
        select
        <include refid="columnList"/>
        from sys_api a
        where delete_flag = 0

        <foreach item="item" index="index" collection="args">
            and ${item.name} ${item.symbol} #{item.data}
        </foreach>
        <if test="page != null and page != ''">
            limit ${(page-1) * size},${size}
        </if>
    </select>


    <insert id="insert" parameterType="indi.uhyils.pojo.DO.ApiDO">
        insert sys_api(id,
        create_date,
        create_user,
        delete_flag,
        remark,
        update_date,
        update_user,
        api_group_id,
        api_order,
        frequency,
        head,
        need_repeat,
        param,
        result_code,
        type,
        url)
        values (#{id},
        #{createDate},
        #{createUser},
        0,
        #{remark},
        #{updateDate},
        #{updateUser},
        #{apiGroupId},
        #{apiOrder},
        #{frequency},
        #{head},
        #{needRepeat},
        #{param},
        #{resultCode},
        #{type},
        #{url})
    </insert>

    <update id="update" parameterType="indi.uhyils.pojo.DO.ApiDO">
        update sys_api set
        update_date = #{updateDate}
        ,update_user = #{updateUser}


        <if test="apiGroupId != null and apiGroupId != ''">
            ,api_group_id = #{apiGroupId}
        </if>
        <if test="apiOrder != null and apiOrder != ''">
            ,api_order = #{apiOrder}
        </if>
        <if test="frequency != null and frequency != ''">
            ,frequency = #{frequency}
        </if>
        <if test="head != null and head != ''">
            ,head = #{head}
        </if>
        <if test="needRepeat != null and needRepeat != ''">
            ,need_repeat = #{needRepeat}
        </if>
        <if test="param != null and param != ''">
            ,param = #{param}
        </if>
        <if test="resultCode != null and resultCode != ''">
            ,result_code = #{resultCode}
        </if>
        <if test="type != null and type != ''">
            ,type = #{type}
        </if>
        <if test="url != null and url != ''">
            ,url = #{url}
        </if>
        <if test="deleteFlag != null and deleteFlag != ''">
            ,delete_flag = #{deleteFlag}
        </if>
        where id = #{id}
    </update>

    <select id="count" resultType="java.lang.Integer">
        select count(*)
        from sys_api a
        where delete_flag = 0;
    </select>

    <select id="countByArgs" resultType="java.lang.Integer">
        select count(*)
        from sys_api a
        where delete_flag = 0
        <foreach item="arg" index="index" collection="args">
            and ${arg.name} ${arg.symbol} #{arg.data}
        </foreach>
    </select>

    <select id="checkRepeat" resultType="java.lang.Integer">
        select count(*)
        from sys_api a
        where ${columnName} = #{value}
    </select>
    <select id="getGroupByGroupId" resultType="indi.uhyils.pojo.DO.ApiDO">
        select
        <include refid="columnList"/>
        from sys_api a
        where delete_flag = 0 and api_group_id = #{apiGroupId}
        order by api_order
    </select>
    <select id="getAll" resultType="indi.uhyils.pojo.DO.ApiDO">
        select
        <include refid="columnList"/>
        from sys_api a
        where delete_flag = 0
        order by api_order
    </select>
    <select id="deleteAllByGroup" parameterType="indi.uhyils.pojo.DO.ApiGroupDO" resultType="java.lang.Integer">
        update sys_api
        set update_date = #{updateDate}
        , update_user = #{updateUser}
        , delete_flag = 0
        where api_group_id = #{id}
    </select>
</mapper>
