<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="indi.uhyils.dao.ApiGroupDao">


    <sql id="columnList">
        a.id,
        a.create_date as createDate,
        a.create_user as createUser,
        a.delete_flag as deleteFlag,
        a.remark,
        a.update_date as updateDate,
        a.update_user as updateUser,


        a.name,
        a.result_format as resultFormat,
        a.subscribe


    </sql>

    <select id="getById" resultType="indi.uhyils.pojo.model.ApiGroupEntity">
        select
        <include refid="columnList"/>
        from sys_api_group a
        where delete_flag = 0
        and id = #{id}
    </select>


    <select id="getByArgsNoPage" resultType="indi.uhyils.pojo.model.ApiGroupEntity">
        select
        <include refid="columnList"/>
        from sys_api_group a
        where delete_flag = 0
        <foreach item="item" index="index" collection="list">
            and ${item.name} ${item.symbol} #{item.data}
        </foreach>
    </select>

    <select id="getByArgs" resultType="indi.uhyils.pojo.model.ApiGroupEntity">
        select
        <include refid="columnList"/>
        from sys_api_group a
        where delete_flag = 0

        <foreach item="item" index="index" collection="args">
            and ${item.name} ${item.symbol} #{item.data}
        </foreach>
        <if test="page != null and page != ''">
            limit #{(page-1) * size},#{size}
        </if>

    </select>


    <insert id="insert" parameterType="indi.uhyils.pojo.model.ApiGroupEntity">
        insert sys_api_group(id,
                             create_date,
                             create_user,
                             delete_flag,
                             remark,
                             update_date,
                             update_user,
                             name,
                             result_format,
                             subscribe)
        values (#{id},
                #{createDate},
                #{createUser},
                0,
                #{remark},
                #{updateDate},
                #{updateUser},
                #{name},
                #{resultFormat},
                #{subscribe})
    </insert>

    <update id="update" parameterType="indi.uhyils.pojo.model.ApiGroupEntity">
        update sys_api_group set
        update_date = #{updateDate}
        ,update_user = #{updateUser}


        <if test="name != null and name != ''">
            ,name = #{name}
        </if>
        <if test="resultFormat != null and resultFormat != ''">
            ,result_format = #{resultFormat}
        </if>
        <if test="subscribe != null and subscribe != ''">
            ,subscribe = #{subscribe}
        </if>
        <if test="deleteFlag != null and deleteFlag != ''">
            ,delete_flag = #{deleteFlag}
        </if>
        where id = #{id}
    </update>

    <select id="count" resultType="java.lang.Integer">
        select count(*)
        from sys_api_group a
        where delete_flag = 0;
    </select>

    <select id="countByArgs" resultType="java.lang.Integer">
        select count(*)
        from sys_api_group a
        where delete_flag = 0
        <foreach item="arg" index="index" collection="args">
            and ${arg.name} ${arg.symbol} #{arg.data}
        </foreach>
    </select>

    <select id="checkRepeat" resultType="java.lang.Integer">
        select count(*)
        from sys_api_group a
        where ${columnName} = #{value}
    </select>

    <select id="getAll" resultType="indi.uhyils.pojo.model.ApiGroupEntity">
        select
        <include refid="columnList"/>
        from sys_api_group a
        where delete_flag = 0
    </select>
    <select id="getCanBeSubscribed" resultType="indi.uhyils.pojo.model.ApiGroupEntity">
        select
        <include refid="columnList"/>
        from sys_api_group a
        where delete_flag = 0 and subscribe = 1
    </select>

</mapper>
