<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="indi.uhyils.dao.MsgDao">


    <sql id="columnList">
        a
        .
        id
        ,
        a.create_date as createDate,
        a.create_user as createUser,
        a.delete_flag as deleteFlag,
        a.remark,
        a.update_date as updateDate,
        a.update_user as updateUser,

        a.content,
        a.success,
        a.target,
        a.title,
        a.type


    </sql>

    <select id="getById" resultType="indi.uhyils.pojo.model.MsgEntity">
        select
        <include refid="columnList"/>
        from sys_push_msg a
        where delete_flag = 0
        and id = #{id}
    </select>


    <select id="getByArgsNoPage" resultType="indi.uhyils.pojo.model.MsgEntity">
        select
        <include refid="columnList"/>
        from sys_push_msg a
        where delete_flag = 0
        <foreach item="item" index="index" collection="list">
            and ${item.name} ${item.symbol} #{item.data}
        </foreach>
    </select>

    <select id="getByArgs" resultType="indi.uhyils.pojo.model.MsgEntity">
        select
        <include refid="columnList"/>
        from sys_push_msg a
        where delete_flag = 0

        <foreach item="item" index="index" collection="args">
            and ${item.name} ${item.symbol} #{item.data}
        </foreach>
        <if test="page != null and page != ''">
            limit ${(page-1) * size},${size}
        </if>

    </select>


    <insert id="insert" parameterType="indi.uhyils.pojo.model.MsgEntity">
        insert
        sys_push_msg(id,
                            create_date,
                            create_user,
                            delete_flag,
                            remark,
                            update_date,
                            update_user,
                            content,
                            success,
                            target,
                            title,
                            type)
        values (
        #{id},
        #{createDate},
        #{createUser},
        0,
        #{remark},
        #{updateDate},
        #{updateUser},
        #{content},
        #{success},
        #{target},
        #{title},
        #{type}
        )
    </insert>

    <update id="update" parameterType="indi.uhyils.pojo.model.MsgEntity">
        update sys_push_msg set
        update_date = #{updateDate}
        ,update_user = #{updateUser}

        <if test="content != null and content != ''">
            ,content = #{content}
        </if>
        <if test="success != null and success != ''">
            ,success = #{success}
        </if>
        <if test="target != null and target != ''">
            ,target = #{target}
        </if>
        <if test="title != null and title != ''">
            ,title = #{title}
        </if>
        <if test="type != null and type != ''">
            ,type = #{type}
        </if>
        <if test="deleteFlag != null and deleteFlag != ''">
            ,delete_flag = #{deleteFlag}
        </if>
        where id = #{id}
    </update>

    <select id="count" resultType="java.lang.Integer">
        select count(*)
        from sys_push_msg a
        where delete_flag = 0;
    </select>

    <select id="countByArgs" resultType="java.lang.Integer">
        select count(*)
        from sys_push_msg a
        where delete_flag = 0
        <foreach item="arg" index="index" collection="args">
            and ${arg.name} ${arg.symbol} #{arg.data}
        </foreach>
    </select>

    <select id="checkRepeat" resultType="java.lang.Integer">
        select count(*)
        from sys_push_msg a
        where ${columnName} = #{value}
    </select>


</mapper>
