<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="indi.uhyils.dao.OrderNodeDao">
    <resultMap type="indi.uhyils.pojo.DO.OrderNodeDO" id="OrderNodeMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="createDate" column="create_date" jdbcType="INTEGER"/>
        <result property="createUser" column="create_user" jdbcType="INTEGER"/>
        <result property="deleteFlag" column="delete_flag" jdbcType="BOOLEAN"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
        <result property="updateDate" column="update_date" jdbcType="INTEGER"/>
        <result property="updateUser" column="update_user" jdbcType="INTEGER"/>
        <result property="baseInfoId" column="base_info_id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="desc" column="desc" jdbcType="VARCHAR"/>
        <result property="runDealUserId" column="run_deal_user_id" jdbcType="INTEGER"/>
        <result property="noticeUserId" column="notice_user_id" jdbcType="INTEGER"/>
        <result property="runType" column="run_type" jdbcType="INTEGER"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="type" column="type" jdbcType="INTEGER"/>
        <result property="limitTime" column="limit_time" jdbcType="INTEGER"/>
        <result property="initApiId" column="init_api_id" jdbcType="INTEGER"/>
        <result property="runApiId" column="run_api_id" jdbcType="INTEGER"/>
        <result property="saveApiId" column="save_api_id" jdbcType="INTEGER"/>
        <result property="transApiId" column="trans_api_id" jdbcType="INTEGER"/>
        <result property="resultType" column="result_type" jdbcType="INTEGER"/>
        <result property="resultId" column="result_id" jdbcType="INTEGER"/>
        <result property="sync" column="sync" jdbcType="INTEGER"/>
        <result property="suggest" column="suggest" jdbcType="VARCHAR"/>
    </resultMap>

    <!--查询单个-->
    <select id="getById" resultMap="OrderNodeMap">
        select
        id, create_date, create_user, delete_flag, remark, update_date, update_user, base_info_id, name, desc,
        run_deal_user_id, notice_user_id, run_type, status, type, limit_time, init_api_id, run_api_id, save_api_id,
        trans_api_id, result_type, result_id, sync, suggest
        from sys_order_node
        where delete_flag = 0
        and id = #{id}
    </select>

    <!--根据某些字段获取实例(不分页)-->
    <select id="getByArgsNoPage" resultMap="OrderNodeMap">
        select
        id, create_date, create_user, delete_flag, remark, update_date, update_user, base_info_id, name, desc,
        run_deal_user_id, notice_user_id, run_type, status, type, limit_time, init_api_id, run_api_id, save_api_id,
        trans_api_id, result_type, result_id, sync, suggest
        from sys_order_node
        where delete_flag = 0
        <if test="args != null">
            <foreach item="item" index="index" collection="args">
                and ${item.name} ${item.symbol} #{item.data}
            </foreach>
        </if>
        <if test="order != null">
            order by
            <foreach collection="order.columns" item="item" index="index" separator=",">
                ${item.columnName.name} ${item.symbol.name}
            </foreach>
        </if>
    </select>

    <!--根据某些字段获取实例(分页)-->
    <select id="getByArgs" resultMap="OrderNodeMap">
        select
        id, create_date, create_user, delete_flag, remark, update_date, update_user, base_info_id, name, desc,
        run_deal_user_id, notice_user_id, run_type, status, type, limit_time, init_api_id, run_api_id, save_api_id,
        trans_api_id, result_type, result_id, sync, suggest
        from sys_order_node
        where delete_flag = 0
        <if test="args != null">
            <foreach item="item" index="index" collection="args">
                and ${item.name} ${item.symbol} #{item.data}
            </foreach>
        </if>

        <if test="order != null">
            order by
            <foreach collection="order.columns" item="item" index="index" separator=",">
                ${item.columnName.name} ${item.symbol.name}
            </foreach>
        </if>

        <if test="limit.number != null and limit.number != ''">
            limit ${(limit.number-1) * limit.size},${ limit.number * limit.size}
        </if>
    </select>


    <!--新增所有列-->
    <insert id="insert" parameterType="indi.uhyils.pojo.DO.OrderNodeDO">
        insert into sys_order_node(
        id, create_date, create_user, delete_flag, remark, update_date, update_user, base_info_id, name, desc,
        run_deal_user_id, notice_user_id, run_type, status, type, limit_time, init_api_id, run_api_id, save_api_id,
        trans_api_id, result_type, result_id, sync, suggest)
        values (#{id}, #{createDate}, #{createUser}, #{deleteFlag}, #{remark}, #{updateDate}, #{updateUser},
        #{baseInfoId}, #{name}, #{desc}, #{runDealUserId}, #{noticeUserId}, #{runType}, #{status}, #{type},
        #{limitTime}, #{initApiId}, #{runApiId}, #{saveApiId}, #{transApiId}, #{resultType}, #{resultId}, #{sync},
        #{suggest})
    </insert>

    <!--通过主键修改数据-->
    <update id="update" parameterType="indi.uhyils.pojo.DO.OrderNodeDO">
        update sys_order_node set
        update_date = #{updateDate}
        ,update_user = #{updateUser}
        <if test="createDate != null">
            ,create_date = #{createDate}
        </if>
        <if test="createUser != null">
            ,create_user = #{createUser}
        </if>
        <if test="deleteFlag != null">
            ,delete_flag = #{deleteFlag}
        </if>
        <if test="remark != null and remark != ''">
            ,remark = #{remark}
        </if>
        <if test="updateDate != null">
            ,update_date = #{updateDate}
        </if>
        <if test="updateUser != null">
            ,update_user = #{updateUser}
        </if>
        <if test="baseInfoId != null">
            ,base_info_id = #{baseInfoId}
        </if>
        <if test="name != null and name != ''">
            ,name = #{name}
        </if>
        <if test="desc != null and desc != ''">
            ,desc = #{desc}
        </if>
        <if test="runDealUserId != null">
            ,run_deal_user_id = #{runDealUserId}
        </if>
        <if test="noticeUserId != null">
            ,notice_user_id = #{noticeUserId}
        </if>
        <if test="runType != null">
            ,run_type = #{runType}
        </if>
        <if test="status != null">
            ,status = #{status}
        </if>
        <if test="type != null">
            ,type = #{type}
        </if>
        <if test="limitTime != null">
            ,limit_time = #{limitTime}
        </if>
        <if test="initApiId != null">
            ,init_api_id = #{initApiId}
        </if>
        <if test="runApiId != null">
            ,run_api_id = #{runApiId}
        </if>
        <if test="saveApiId != null">
            ,save_api_id = #{saveApiId}
        </if>
        <if test="transApiId != null">
            ,trans_api_id = #{transApiId}
        </if>
        <if test="resultType != null">
            ,result_type = #{resultType}
        </if>
        <if test="resultId != null">
            ,result_id = #{resultId}
        </if>
        <if test="sync != null">
            ,sync = #{sync}
        </if>
        <if test="suggest != null and suggest != ''">
            ,suggest = #{suggest}
        </if>
        where id = #{id}
    </update>

    <!--通过主键修改数据-->
    <update id="updateByOrder" parameterType="indi.uhyils.pojo.DO.OrderNodeDO">
        update sys_order_node set
        update_date = #{updateDate}
        ,update_user = #{updateUser}
        <if test="createDate != null">
            ,create_date = #{createDate}
        </if>
        <if test="createUser != null">
            ,create_user = #{createUser}
        </if>
        <if test="deleteFlag != null">
            ,delete_flag = #{deleteFlag}
        </if>
        <if test="remark != null and remark != ''">
            ,remark = #{remark}
        </if>
        <if test="updateDate != null">
            ,update_date = #{updateDate}
        </if>
        <if test="updateUser != null">
            ,update_user = #{updateUser}
        </if>
        <if test="baseInfoId != null">
            ,base_info_id = #{baseInfoId}
        </if>
        <if test="name != null and name != ''">
            ,name = #{name}
        </if>
        <if test="desc != null and desc != ''">
            ,desc = #{desc}
        </if>
        <if test="runDealUserId != null">
            ,run_deal_user_id = #{runDealUserId}
        </if>
        <if test="noticeUserId != null">
            ,notice_user_id = #{noticeUserId}
        </if>
        <if test="runType != null">
            ,run_type = #{runType}
        </if>
        <if test="status != null">
            ,status = #{status}
        </if>
        <if test="type != null">
            ,type = #{type}
        </if>
        <if test="limitTime != null">
            ,limit_time = #{limitTime}
        </if>
        <if test="initApiId != null">
            ,init_api_id = #{initApiId}
        </if>
        <if test="runApiId != null">
            ,run_api_id = #{runApiId}
        </if>
        <if test="saveApiId != null">
            ,save_api_id = #{saveApiId}
        </if>
        <if test="transApiId != null">
            ,trans_api_id = #{transApiId}
        </if>
        <if test="resultType != null">
            ,result_type = #{resultType}
        </if>
        <if test="resultId != null">
            ,result_id = #{resultId}
        </if>
        <if test="sync != null">
            ,sync = #{sync}
        </if>
        <if test="suggest != null and suggest != ''">
            ,suggest = #{suggest}
        </if>
        where delete_flag = 0
        <if test="args != null">
            <foreach item="item" index="index" collection="args">
                and ${item.name} ${item.symbol} #{item.data}
            </foreach>
        </if>
    </update>

    <!--批量通过主键修改数据-->
    <update id="updateBatch" parameterType="indi.uhyils.pojo.DO.OrderNodeDO">
        <foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";">
            update sys_order_node set
            update_date = #{item.updateDate}
            ,update_user = #{item.updateUser}
            <if test="createDate != null">
                ,create_date = #{item.createDate}
            </if>
            <if test="createUser != null">
                ,create_user = #{item.createUser}
            </if>
            <if test="deleteFlag != null">
                ,delete_flag = #{item.deleteFlag}
            </if>
            <if test="remark != null and remark != ''">
                ,remark = #{item.remark}
            </if>
            <if test="updateDate != null">
                ,update_date = #{item.updateDate}
            </if>
            <if test="updateUser != null">
                ,update_user = #{item.updateUser}
            </if>
            <if test="baseInfoId != null">
                ,base_info_id = #{item.baseInfoId}
            </if>
            <if test="name != null and name != ''">
                ,name = #{item.name}
            </if>
            <if test="desc != null and desc != ''">
                ,desc = #{item.desc}
            </if>
            <if test="runDealUserId != null">
                ,run_deal_user_id = #{item.runDealUserId}
            </if>
            <if test="noticeUserId != null">
                ,notice_user_id = #{item.noticeUserId}
            </if>
            <if test="runType != null">
                ,run_type = #{item.runType}
            </if>
            <if test="status != null">
                ,status = #{item.status}
            </if>
            <if test="type != null">
                ,type = #{item.type}
            </if>
            <if test="limitTime != null">
                ,limit_time = #{item.limitTime}
            </if>
            <if test="initApiId != null">
                ,init_api_id = #{item.initApiId}
            </if>
            <if test="runApiId != null">
                ,run_api_id = #{item.runApiId}
            </if>
            <if test="saveApiId != null">
                ,save_api_id = #{item.saveApiId}
            </if>
            <if test="transApiId != null">
                ,trans_api_id = #{item.transApiId}
            </if>
            <if test="resultType != null">
                ,result_type = #{item.resultType}
            </if>
            <if test="resultId != null">
                ,result_id = #{item.resultId}
            </if>
            <if test="sync != null">
                ,sync = #{item.sync}
            </if>
            <if test="suggest != null and suggest != ''">
                ,suggest = #{item.suggest}
            </if>
            where id = #{item.id}
        </foreach>
    </update>

    <!--查询总条数-->
    <select id="count" resultType="java.lang.Integer">
        select count(*)
        from sys_order_node
        where delete_flag = 0;
    </select>

    <!--根据条件查询条数-->
    <select id="countByArgs" resultType="java.lang.Integer">
        select count(*)
        from sys_order_node
        where delete_flag = 0
        <if test="args != null">
            <foreach item="item" index="index" collection="args">
                and ${item.name} ${item.symbol} #{item.data}
            </foreach>
        </if>
    </select>

    <!--检查是否有重复-->
    <select id="checkRepeat" resultType="java.lang.Integer">
        select count(*)
        from sys_order_node
        where ${columnName} = #{value}
    </select>
</mapper>
