<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="indi.uhyils.dao.OrderInfoDao">


    <sql id="columnList">
        a.remark as remark,
		a.priority as priority,
		a.update_date as updateDate,
		a.query_user_ids as queryUserIds,
		a.limit_time as limitTime,
		a.update_user as updateUser,
		a.son as son,
		a.monitor_user_id as monitorUserId,
		a.name as name,
		a.id as id,
		a.create_user as createUser,
		a.create_date as createDate,
		a.delete_flag as deleteFlag,
		a.type,
		a.`desc`,
        a.status as status
    </sql>

    <select id="getOrderStatusById" resultType="java.lang.Integer">
        select a.status
        from sys_order_info a
        where delete_flag = 0
          and id = #{orderId}
    </select>
    <update id="changeOrderStatus">
        update sys_order_info
        set status = #{code}
        where id = #{orderId}
    </update>


    <select id="getOrderByType" resultType="indi.uhyils.pojo.model.OrderInfoEntity">
        select
        <include refid="columnList"/>
        from sys_order_info a
        where delete_flag = 0
        and type = #{type}
    </select>


</mapper>
