<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="indi.uhyils.dao.OrderBaseNodeDao">
    <resultMap type="indi.uhyils.pojo.DO.OrderBaseNodeDO" id="OrderBaseNodeMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="createDate" column="create_date" jdbcType="INTEGER"/>
        <result property="createUser" column="create_user" jdbcType="INTEGER"/>
        <result property="deleteFlag" column="delete_flag" jdbcType="BOOLEAN"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
        <result property="updateDate" column="update_date" jdbcType="INTEGER"/>
        <result property="updateUser" column="update_user" jdbcType="INTEGER"/>
        <result property="baseInfoId" column="base_info_id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="desc" column="desc" jdbcType="VARCHAR"/>
        <result property="runDealUserId" column="run_deal_user_id" jdbcType="INTEGER"/>
        <result property="noticeUserId" column="notice_user_id" jdbcType="INTEGER"/>
        <result property="runType" column="run_type" jdbcType="INTEGER"/>
        <result property="type" column="type" jdbcType="INTEGER"/>
        <result property="limitTime" column="limit_time" jdbcType="INTEGER"/>
        <result property="initApiId" column="init_api_id" jdbcType="INTEGER"/>
        <result property="runApiId" column="run_api_id" jdbcType="INTEGER"/>
        <result property="saveApiId" column="save_api_id" jdbcType="INTEGER"/>
        <result property="transApiId" column="trans_api_id" jdbcType="INTEGER"/>
        <result property="sync" column="sync" jdbcType="INTEGER"/>
        <result property="hidden" column="hidden" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="columnList">
        a.save_api_id      as saveApiId,
        a.init_api_id      as initApiId,
        a.remark           as remark,
        a.run_type         as runType,
        a.type             as type,
        a.sync             as sync,
        a.update_date      as updateDate,
        a.limit_time       as limitTime,
        a.notice_user_id   as noticeUserId,
        a.update_user      as updateUser,
        a.base_info_id     as baseInfoId,
        a.run_deal_user_id as runDealUserId,
        a.name             as name,
        a.run_api_id       as runApiId,
        a.id               as id,
        a.create_user      as createUser,
        a.create_date      as createDate,
        a.delete_flag      as deleteFlag,
        a.trans_api_id     as transApiId,
        a.hidden,
        a.`desc`
    </sql>

    <!--批量通过主键修改数据-->
    <update id="updateBatch" parameterType="indi.uhyils.pojo.DO.OrderBaseNodeDO">
        <foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";">
            update sys_order_base_node set
            update_date = #{item.updateDate}
            ,update_user = #{item.updateUser}
            <if test="item.createDate != null">
                ,create_date = #{item.createDate}
            </if>
            <if test="item.createUser != null">
                ,create_user = #{item.createUser}
            </if>
            <if test="item.deleteFlag != null">
                ,delete_flag = #{item.deleteFlag}
            </if>
            <if test="item.remark != null and item.remark != ''">
                ,remark = #{item.remark}
            </if>
            <if test="item.updateDate != null">
                ,update_date = #{item.updateDate}
            </if>
            <if test="item.updateUser != null">
                ,update_user = #{item.updateUser}
            </if>
            <if test="item.baseInfoId != null">
                ,base_info_id = #{item.baseInfoId}
            </if>
            <if test="item.name != null and item.name != ''">
                ,name = #{item.name}
            </if>
            <if test="item.desc != null and item.desc != ''">
                ,`desc` = #{item.desc}
            </if>
            <if test="item.runDealUserId != null">
                ,run_deal_user_id = #{item.runDealUserId}
            </if>
            <if test="item.noticeUserId != null">
                ,notice_user_id = #{item.noticeUserId}
            </if>
            <if test="item.runType != null">
                ,run_type = #{item.runType}
            </if>
            <if test="item.type != null">
                ,type = #{item.type}
            </if>
            <if test="item.limitTime != null">
                ,limit_time = #{item.limitTime}
            </if>
            <if test="item.initApiId != null">
                ,init_api_id = #{item.initApiId}
            </if>
            <if test="item.runApiId != null">
                ,run_api_id = #{item.runApiId}
            </if>
            <if test="item.saveApiId != null">
                ,save_api_id = #{item.saveApiId}
            </if>
            <if test="item.transApiId != null">
                ,trans_api_id = #{item.transApiId}
            </if>
            <if test="item.sync != null">
                ,sync = #{item.sync}
            </if>
            <if test="item.hidden != null">
                ,hidden = #{item.hidden}
            </if>
            where id = #{item.id}
        </foreach>
    </update>

    <select id="getNoHiddenByOrderId" resultType="indi.uhyils.pojo.DO.OrderBaseNodeDO">
        select
        <include refid="columnList"/>
        from sys_order_base_node a
        where delete_flag = 0
        and base_info_id = #{baseInfoId}
    </select>
</mapper>
