<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="indi.uhyils.dao.OrderLogDao">


    <sql id="columnList">
        a.deal_user_id as dealUserId,
		a.remark as remark,
		a.update_date as updateDate,
		a.fault_info as faultInfo,
		a.update_user as updateUser,
		a.result_status as resultStatus,
		a.monitor_user_id as monitorUserId,
		a.info_id as infoId,
		a.id as id,
		a.create_user as createUser,
		a.create_date as createDate,
		a.delete_flag as deleteFlag,
		a.node_id as nodeId
    </sql>

    <select id="getById" resultType="indi.uhyils.pojo.model.OrderLogEntity">
        select
        <include refid="columnList"/>
        from sys_order_log a
        where delete_flag = 0
        and id = #{id}
    </select>

    <select id="getByArgsNoPage" resultType="indi.uhyils.pojo.model.OrderLogEntity">
        select
        <include refid="columnList"/>
        from sys_order_log a
        where delete_flag = 0
        <foreach item="item" index="index" collection="list">
            and ${item.name} ${item.symbol} #{item.data}
        </foreach>
    </select>

    <select id="getByArgs" resultType="indi.uhyils.pojo.model.OrderLogEntity">
        select
        <include refid="columnList"/>
        from sys_order_log a
        where delete_flag = 0

        <foreach item="item" index="index" collection="args">
            and ${item.name} ${item.symbol} #{item.data}
        </foreach>
        <if test="page != null and page != ''">
            limit #{(page-1) * size},#{size}
        </if>

    </select>


    <insert id="insert" parameterType="indi.uhyils.pojo.model.OrderLogEntity">
        insert sys_order_log(deal_user_id,
                             remark,
                             update_date,
                             fault_info,
                             update_user,
                             result_status,
                             monitor_user_id,
                             info_id,
                             id,
                             create_user,
                             create_date,
                             delete_flag,
                             node_id)
        values (#{dealUserId},
                #{remark},
                #{updateDate},
                #{faultInfo},
                #{updateUser},
                #{resultStatus},
                #{monitorUserId},
                #{infoId},
                #{id},
                #{createUser},
                #{createDate},
                #{deleteFlag},
                #{nodeId})
    </insert>

    <update id="update" parameterType="indi.uhyils.pojo.model.OrderLogEntity">
        update sys_order_log set
        update_date = #{updateDate}
        ,update_user = #{updateUser}
        <if test="dealUserId != null and dealUserId != ''">
            ,deal_user_id = #{dealUserId}
        </if>
        <if test="remark != null and remark != ''">
            ,remark = #{remark}
        </if>
        <if test="faultInfo != null and faultInfo != ''">
            ,fault_info = #{faultInfo}
        </if>
        <if test="resultStatus != null and resultStatus != ''">
            ,result_status = #{resultStatus}
        </if>
        <if test="monitorUserId != null and monitorUserId != ''">
            ,monitor_user_id = #{monitorUserId}
        </if>
        <if test="infoId != null and infoId != ''">
            ,info_id = #{infoId}
        </if>
        <if test="createUser != null and createUser != ''">
            ,create_user = #{createUser}
        </if>
        <if test="createDate != null and createDate != ''">
            ,create_date = #{createDate}
        </if>
        <if test="deleteFlag != null and deleteFlag != ''">
            ,delete_flag = #{deleteFlag}
        </if>
        <if test="nodeId != null and nodeId != ''">
            ,node_id = #{nodeId}
        </if>
        where id = #{id}
    </update>

    <select id="count" resultType="java.lang.Integer">
        select count(*)
        from sys_order_log a
        where delete_flag = 0;
    </select>

    <select id="countByArgs" resultType="java.lang.Integer">
        select count(*)
        from sys_order_log a
        where delete_flag = 0
        <foreach item="arg" index="index" collection="args">
            and ${arg.name} ${arg.symbol} #{arg.data}
        </foreach>
    </select>

    <select id="checkRepeat" resultType="java.lang.Integer">
        select count(*)
        from sys_order_log a
        where ${columnName} = #{value}
    </select>


</mapper>
