<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="indi.uhyils.dao.OrderLogDao">


    <sql id="columnList">
        a.deal_user_id as dealUserId,
		a.remark as remark,
		a.update_date as updateDate,
		a.fault_info as faultInfo,
		a.update_user as updateUser,
		a.result_status as resultStatus,
		a.monitor_user_id as monitorUserId,
		a.info_id as infoId,
		a.id as id,
		a.create_user as createUser,
		a.create_date as createDate,
		a.delete_flag as deleteFlag,
		a.node_id as nodeId
    </sql>


</mapper>
