<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="indi.uhyils.dao.OrderNodeFieldDao">


    <sql id="columnList">
        a.value_type as valueType,
		a.edit as edit,
		a.default_value as defaultValue,
		a.remark as remark,
		a.type as type,
		a.update_date as updateDate,
		a.empty,
		a.update_user as updateUser,
		a.name as name,
		a.id as id,
		a.create_user as createUser,
		a.create_date as createDate,
		a.delete_flag as deleteFlag,
		a.base_order_node_id as baseOrderNodeId,
		a.`desc`
    </sql>
    <update id="deleteByNodeIds">
        update sys_order_node_field set
        update_date = #{updateDate}
        ,update_user = #{updateUser}
        ,delete_flag = 1
        where base_order_node_id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <select id="getByIds" resultType="indi.uhyils.pojo.model.OrderNodeFieldEntity">
        select
        <include refid="columnList"/>
        from sys_order_node_field a
        where delete_flag = 0
        and id in
        <foreach collection="fieldIds" item="fieldId" open="(" separator="," close=")">
            #{fieldId}
        </foreach>
    </select>

    <select id="getByOrderNodeId" resultType="indi.uhyils.pojo.model.OrderNodeFieldEntity">
        select
        <include refid="columnList"/>
        from sys_order_node_field a
        where delete_flag = 0
        and base_order_node_id = #{orderNodeId}
    </select>
    <select id="getByOrderNodeIds" resultType="indi.uhyils.pojo.model.OrderNodeFieldEntity">
        select
        <include refid="columnList"/>
        from sys_order_node_field a
        where delete_flag = 0
        and base_order_node_id in
        <foreach collection="orderNodeIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>


</mapper>
