<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="indi.uhyils.dao.RedisDao">


    <sql id="columnList">
        a.id,
        a.create_date as 'createDate',
        a.create_user as createUser,
        a.update_date as 'updateDate',
        a.update_user as updateUser,
        a.delete_flag as deleteFlag,
        a.remark,



        a.password,
        a.port,
        a.server_id as serverId,
        a.start_sh as startSh,
        a.status,
        a.status_sh as statusSh,
        a.stop_sh as stopSh,
        a.other_1 as dockerName,
        a.version

    </sql>


</mapper>
